<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="views/layout/layout ::head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link th:href="@{/vendors/fullcalendar/dist/fullcalendar.min.css}" rel="stylesheet">
<link th:href="@{/vendors/fullcalendar/dist/fullcalendar.print.css}" rel="stylesheet" media="print">
<link th:href="@{/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css}" rel="stylesheet">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	            <div class="page-title">
	              <div class="title_left">
	                
	              </div>
	            </div>
	
	            <div class="clearfix"></div>
	            
	            
	            <div class="row">
		              <div class="col-md-12 col-sm-12 col-xs-12">
		                <div class="x_panel">
		                  <div class="x_title">
		                    <h2>Calendario de eventos</h2>
		                   
		                    <div class="clearfix"></div>
		                  </div>
		                  
		                  <div th:replace="views/calendario/calendario_fragment :: calendario"></div>
		                  <!--  <div class="x_content">
		                  	 <div id='calendario'></div>
		                  </div>-->
		                </div>
		              </div>
		            </div>
  
	            
	          </div>
	        </div>
	        <!-- /page content -->
			
			 <!-- calendar modal -->
    <div th:replace="views/calendario/modal :: modal_calendario"></div>
    <!-- <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
    <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
     -->
			
			
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>
	<div th:replace="views/layout/layout :: script"></div>
	<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/vendors/fullcalendar/dist/fullcalendar.min.js}"></script>
    <script th:src="@{/vendors/fullcalendar/dist/lang/es.js}"></script>
    <script th:src="@{/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>
    <!-- 
	<script th:inline="javascript">
  	 /*<![CDATA[*/ 
     console.log([[${eventos}]])	

	var date = new Date(),
	d = date.getDate(),
	m = date.getMonth(),
	y = date.getFullYear(),
	started,
	categoryClass;
	var calendar = $('#calendario').fullCalendar({
	    locale: 'es',
	  	header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay,listMonth'
	  },

	  buttonText: {
	        today:    'Hoy',
	        month:    'Mes',
	        week:     'Semana',
	        day:      'Día',
	        list:     'Lista'
	    },
	    dayClick:function(date,jsEvent,view){
	    	$("#agregar_evento").modal('show');
	    	document.getElementById("titulo_day").innerHTML="Agregar un nuevo Evento";
	    	document.getElementById("title_input").value="";
			document.getElementById("descripcion").value="";
			document.getElementById("id_calendario").value=0;
			document.getElementById("inicial_text").value="";
			document.getElementById("final_text").value="";
	    	
	    },

	   
	  /*editable: true,*/
	  events: [[${eventos}]],
	  eventClick: function(calEvent, jsEvent, view) {
		  document.getElementById("titulo_day").innerHTML=calEvent.title;
		  document.getElementById("title_input").value=calEvent.title;
		  document.getElementById("descripcion").value=calEvent.descripcion;
		  document.getElementById("id_calendario").value=calEvent.id;
		  fechaI=calEvent.start._i.split(" ");
		  var fechaIN= fechaI[0];
		  var horaIN= fechaI[1];
		  fechaF=calEvent.end._i.split(" ");
		  var fechaEN= fechaF[0];
		  var horaEN= fechaF[1];
		  document.getElementById("inicial_text").value=fechaIN+" "+horaIN;
		  document.getElementById("final_text").value=fechaEN+" "+horaEN;
		  $("#btnEliminar").attr("style", "visibility:visible");
		  $("#agregar_evento").modal('show');
	  }/*
	  eventRender: function(event, element) {
          eventsdate = moment(event.start).format('dd/MM/yyyy HH:mm');
          eventedate = moment(event.end).format('dd/MM/yyyy HH:mm');
	}*/
	  
	});
	/*
	$(".fc-prev-button span").click(function(){
		alert("atras")
	})
	$(".fc-next-button span").click(function(){
		alert("next")
	})
	*/
	 $('#inicial').datetimepicker({
		 minDate: new Date(),
		 format: 'YYYY-MM-DD HH:mm',
		
	 });
	 $('#final').datetimepicker({
		 minDate: new Date(),
		 format: 'YYYY-MM-DD HH:mm',
	 });
	 
	 
	 function guardar(){
		
		var token = $("input[name='_csrf']").val();
		var header = "X-CSRF-TOKEN";
		var title_input=document.getElementById("title_input").value;
		var descripcion=document.getElementById("descripcion").value;
		var id_calendario=document.getElementById("id_calendario").value;
		var inicial_text=document.getElementById("inicial_text").value;
		var final_text=document.getElementById("final_text").value;
		
		if(title_input.length==0){
			alert("Este campo no peude ser vacio");
			return false;
		}
		
		if(descripcion.length==0){
			alert("Este campo no peude ser vacio");
			return false;
		}
		
		if(id_calendario.length==0){
			alert("Este campo no peude ser vacio");
			return false;
		}
		
		if(inicial_text.length==0){
			alert("Este campo no peude ser vacio");
			return false;
		}
		
		if(final_text.length==0){
			alert("Este campo no peude ser vacio");
			return false;
		}
		
		var json={
				id: id_calendario,
				titulo: title_input,
				f_inicial: inicial_text,
				f_final: final_text,
				descripcion: descripcion,
		};
		
		console.log(json)
		$.ajax({
			contentType: "application/json",
			url:"/calendario/calendarioGuardar",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			
			type:'POST',
			data:JSON.stringify(json),
			dataType:'json',
			success:function(data){
				console.log(data);
				if(data.hasOwnProperty('1')){
					console.log(data[1])
					 var texto=data[1];
					$('#mensaje_calendario').text(texto);
					$("#div_mensaje_calendario").attr("style", "display:block") 
				}
				else{
					console.log(data[2])
					var texto=data[2];
					$('#mensaje_calendario').text(texto);
					$("#div_mensaje_calendario").attr("style", "display:block") 
				}
				setTimeout(function(){ window.location.replace("/calendario/index"); }, 1500);
			},
			error:function(){
				console.log("error");
			}
		})	
	 }
	 
	 function eliminar(){
		 var id= document.getElementById("id_calendario").value;
		 var result= confirm('Estás seguro que quieres eliminar?');
		 if(result){
			 document.location.href="/calendario/eliminarCalendario/"+id;
		 }
		 
	 }
	/*]]>*/
	</script>
	
 	-->

	<script th:inline="javascript">
  	 /*<![CDATA[*/ 
     console.log([[${eventos}]])	
	 var isAdmin=[[${#authorization.expression('hasRole(''ROLE_ADMIN'')')}]]
	var date = new Date(),
	d = date.getDate(),
	m = date.getMonth(),
	y = date.getFullYear(),
	started,
	categoryClass;
	var calendar = $('#calendario').fullCalendar({
	    locale: 'es',
	  	header: {
		left: 'prev,next today,Refrescar',
		center: 'title',
		right: 'month,agendaWeek,agendaDay,listMonth'
	  },
	  customButtons:{
		  Refrescar:{
			  text:"Ver actividades",
			  click:function(){
				  var date1 = $('#calendario').fullCalendar( 'getDate' );
				  var anio =date1["_i"][0]
				  var mes =date1["_i"][1]+1
				  var url="/calendario/calendarioActualizar"
				  url=url+"?anio="+anio+"&mes="+mes
				  console.log(url)
				  console.log("mes: "+mes)
				  $("#fragment_actualizar").load(url,function(){});
			  }
		  }
	  },
	  buttonText: {
	        today:    'Hoy',
	        month:    'Mes',
	        week:     'Semana',
	        day:      'Día',
	        list:     'Lista'
	    },
	    dayClick:function(date,jsEvent,view){
	    	$("#agregar_evento").modal('show');
	    	document.getElementById("titulo_day").innerHTML="Agregar un nuevo Evento";
	    	document.getElementById("title_input").value="";
			document.getElementById("descripcion").value="";
			document.getElementById("id_calendario").value=0;
			document.getElementById("inicial_text").value="";
			document.getElementById("final_text").value="";
			if(isAdmin){
				document.getElementById("title_input").disabled = false;
				document.getElementById("descripcion").disabled = false;
				document.getElementById("inicial_text").disabled = false;
				document.getElementById("final_text").disabled = false;
			}
	    	
	    },

	   
	  /*editable: true,*/
	  events: [[${eventos}]],
	  eventClick: function(calEvent, jsEvent, view) {
		  document.getElementById("titulo_day").innerHTML=calEvent.title;
		  document.getElementById("title_input").value=calEvent.title;
		  document.getElementById("descripcion").value=calEvent.descripcion;
		  document.getElementById("id_calendario").value=calEvent.id;
		  fechaI=calEvent.start._i.split(" ");
		  var fechaIN= fechaI[0];
		  var horaIN= fechaI[1];
		  fechaF=calEvent.end._i.split(" ");
		  var fechaEN= fechaF[0];
		  var horaEN= fechaF[1];
		  document.getElementById("inicial_text").value=fechaIN+" "+horaIN;
		  document.getElementById("final_text").value=fechaEN+" "+horaEN;
		  $("#btnEliminar").attr("style", "visibility:visible");
		  if(isAdmin){
				document.getElementById("title_input").disabled = false;
				document.getElementById("descripcion").disabled = false;
				document.getElementById("inicial_text").disabled = false;
				document.getElementById("final_text").disabled = false;
			}
		  $("#agregar_evento").modal('show');
	  }/*
	  eventRender: function(event, element) {
          eventsdate = moment(event.start).format('dd/MM/yyyy HH:mm');
          eventedate = moment(event.end).format('dd/MM/yyyy HH:mm');
	}*/
	  
	});
	
	/*$(".fc-prev-button span").click(function(){
		
			var date1 = $('#calendario').fullCalendar( 'getDate' );
			console.log(date1)
		    console.log(date1["_d"])
		

	   // var date1["_d"].getMonth()
	})

	$(".fc-next-button span").click(function(){
		alert("next")
	})
	*/
	 $('#inicial').datetimepicker({
		 minDate: new Date(),
		 format: 'YYYY-MM-DD HH:mm',
		
	 });
	 $('#final').datetimepicker({
		 minDate: new Date(),
		 format: 'YYYY-MM-DD HH:mm',
	 });
	 
	 
	 function guardar(){
		
		var token = $("input[name='_csrf']").val();
		var header = "X-CSRF-TOKEN";
		var title_input=document.getElementById("title_input").value;
		var descripcion=document.getElementById("descripcion").value;
		var id_calendario=document.getElementById("id_calendario").value;
		var inicial_text=document.getElementById("inicial_text").value;
		var final_text=document.getElementById("final_text").value;
		
		if(title_input.length==0){
			alert("El campo titulo no peude ser vacio");
			return false;
		}
		
		if(descripcion.length==0){
			alert("El campo descripcion no peude ser vacio");
			return false;
		}
		
		/*if(id_calendario.length==0){
			alert("El campo titulo no peude ser vacio");
			return false;
		}*/
		
		if(inicial_text.length==0){
			alert("El campo fecha inicial no peude ser vacio");
			return false;
		}
		
		if(final_text.length==0){
			alert("El campo fecha final no peude ser vacio");
			return false;
		}
		
		var json={
				id: id_calendario,
				titulo: title_input,
				f_inicial: inicial_text,
				f_final: final_text,
				descripcion: descripcion,
		};
		
		console.log(json)
		$.ajax({
			contentType: "application/json",
			url:"/calendario/calendarioGuardar",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			
			type:'POST',
			data:JSON.stringify(json),
			dataType:'json',
			success:function(data){
				console.log(data);
				if(data.hasOwnProperty('1')){
					console.log(data[1])
					 var texto=data[1];
					$('#mensaje_calendario').text(texto);
					$("#div_mensaje_calendario").attr("style", "display:block") 
				}
				else{
					console.log(data[2])
					var texto=data[2];
					$('#mensaje_calendario').text(texto);
					$("#div_mensaje_calendario").attr("style", "display:block") 
				}
				setTimeout(function(){ window.location.replace("/calendario/index"); }, 1500);
			},
			error:function(){
				console.log("error");
			}
		})	
	 }
	 
	 function eliminar(){
		 var id= document.getElementById("id_calendario").value;
		 var result= confirm('Estás seguro que quieres eliminar?');
		 if(result){
			 document.location.href="/calendario/eliminarCalendario/"+id;
		 }
		 
	 }
	/*]]>*/
	</script>

	
</body>
</html>
