<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="views/layout/layout ::head">

</head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
 <!-- Datatables -->
 <link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	            <div class="page-title">
	              <div class="title_left">
	                <h3>Listado de los módulos de E-Qhali</h3>
	              </div>
	              <div style="text-align:right;">

	              	 <button type="button" class="btn btn-primary" onclick="nuevo()" sec:authorize="hasRole('ROLE_ADMIN')">Agregar</button><!-- data-toggle="modal" data-target="#modalEqhali" -->
	              </div>
	             
	            </div>
	
	            <div class="clearfix"></div>
	            
		         <div id="mensaje" class="alert alert-secondary" role="alert"  style="background-color:#00BFFF" 
		         th:if="${success != null}">
				  <p  style="color:black" th:text="${success}"> </p>
				</div>
				
	            <div class="row">
				
                <div class="x_panel">

                  <div class="x_content">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">

								 <div class="x_content"> 
								   <table id="datatable-buttons2" class="table table-striped table-bordered">
		
								     <thead>
			                          <tr class="headings">

			                            <th class="column-title">N#</th>
			                            <th class="column-title">Nombre del lote</th>
			                            <th class="column-title">Descripcion  modulo</th>
			                            <th class="column-title">Grupo </th>
			                            <th class="column-title no-link last"><span class="nobr">Opciones</span>
			                            </th>
			                            <th class="bulk-actions" colspan="7">
			                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
			                            </th>
			                          </tr>
			                        </thead>
								
								      <tbody>
				                        <th:block th:each="x,index:${eqhali}">
				                          <tr class="even pointer">
				                            <td th:text="${index.index+1}"class=" ">May 23, 2014 11:47:56 PM </td>
				                            <td th:text="${x.nombreLote}"class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
				                            <td th:text="${x.descripcionModulo}"class=" ">John Blank L</td>
				                            <td th:text="${x.grupo}"class=" ">Paid</td>

				                            <td class=" last"><a sec:authorize="hasRole('ROLE_ADMIN')" href="#" th:attr="onclick=|editar('${x.id}')|" style="color:green" ><i  class="fa fa-pencil"> Editar</i></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/maestro/eliminarEqhali/'+${x.id}}" onclick="return confirm('Estás seguro que quieres eliminar?');" style="color:red"><i class="fa fa-times"> Eliminar</i></a></td>
				                            
				                          </tr>
				                          </th:block>
				
				     				   </tbody>
								
								   </table>
								</div>
							</div>
						</div>
						
                  </div>
                </div>
 

	            </div>
	          </div>
	        </div>
	        <!-- /page content -->
	
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>
	
	<div th:replace="views/maestro/eqhali/modal :: modal_eqhali"></div>

	
	<div th:replace="views/layout/layout :: script">
	</div>
	
	 <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
   <!-- Datatables -->
   <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
   <script th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
   <script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
   <script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
   <script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
   <script type="text/javascript">
	console.log("funciona")
	
	//$('#datatable-buttons').DataTable().destroy();		
	$('#datatable-buttons2').DataTable( {

        "language": {
        	"url": "/idioma/espaniol.json"
        }
	});
		
	setTimeout(function() {
        $("#mensaje").fadeOut(1500);
    },3000);
   </script>
   <script type="text/javascript">
   function agregar(){
	   $('#modalEqhali').modal('show');
	   var lote= document.getElementById("nombreLote").value;
	   var modulo= document.getElementById("descripcionModulo").value;
	   var grupo= document.getElementById("grupo").value;

	   if(lote.length==0){
			var mensaje = document.getElementById("mensaje_lote");
			mensaje.style.display="block";
			return false;
		}
	   
	   if(modulo.length==0){
			var mensaje = document.getElementById("mensaje_modulo");
			mensaje.style.display="block";
			return false;
		}
	   
	   if(grupo.length==0){
			var mensaje = document.getElementById("mensaje_grupo");
			mensaje.style.display="block";
			return false;
		}
	   
	   $('#formEqhali').submit();
   }
   
   function editar(id){
	   url="/maestro/editarEqhali/"+id
	   $("#modal_actualizar").load(url,function(){
			  $("#modalEqhali").modal("show");
		  })
   }
   
   /*async function actualizar_modal(){
	   let promise = new Promise((resolve, reject) => {
		   //window.location.href = "/maestro/eqhali";
		   setTimeout(() => resolve(window.location.href = "/maestro/eqhali"), 1000)
	   })
	   console.log(promise);
	   let result = await promise;
	   console.log(result);
	   
   }*/

   function nuevo(){
	    document.getElementById("id").value=0;
		document.getElementById("nombreLote").value="";
		document.getElementById("descripcionModulo").value="";
		document.getElementById("grupo").value="";
	   $("#modalEqhali").modal("show");
   }
   </script>
   

</body>
</html>