<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<body>
	<div th:fragment="cantidad_establecimiento">
	<th:block th:each="i,index: ${ListaStringNombreEstablecimiento}">
	
	<div class="widget_summary">
		<div class="w_left w_60"><p th:text="${i.nombre}"></p></div>&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="w_left w_40"><small><span th:id="'span_'+${index.index}">0</span></small></div> 
	</div>
	  
	  <div class="project_progress ">
	    <div  class="progress progress_sm " style="width: 50%">
	      <input th:value="${i.cantidad}" th:id="'id_cantidad_'+${index.index}" style="display:none;" />
	      <div th:id="'row_'+${index.index}" class="progress-bar bg-green" role="progressbar" data-transitiongoal="100" aria-valuenow="0" style="width: 0%;height:0%"></div>
	    </div>
	  </div><br>
	  </th:block>
	</div>
</body>
</html>