<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="views/layout/layout ::head">

</head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	            <div class="page-title">
	              <div class="title_left">
	                <h3></h3>
	              </div>
	            </div>
	
	            <div class="clearfix"></div>
	
	            <div class="row">
   
	             <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Gráficos Generales</h2>
	                    <ul class="nav navbar-right panel_toolbox">

	                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                      </li>
	                    </ul>
	                    <div class="clearfix"></div>
	                  </div>
	                  <div class="x_content">
	                     <div class="row">
			              <div class="col-md-6 col-sm-6 col-xs-12">
			                <div class="x_panel">
			                  <div class="x_title">
			                    <h2>Errores por meses de RSH<small></small></h2>
			                    <ul class="nav navbar-right panel_toolbox">

			                      
			                    </ul>
			                    <div class="clearfix"></div>
			                  </div>
			                  <div class="x_content">
			                    <canvas id="lineChart2"></canvas>
			                  </div>
			                </div>
			              </div>
			
			              <div class="col-md-6 col-sm-6 col-xs-12">
			                <div class="x_panel">
			                  <div class="x_title">
			                    <h2>Errores más comunes de RSH</h2>
			                    <ul class="nav navbar-right panel_toolbox">        
			                    </ul>
			                    <div class="clearfix"></div>
			                  </div>
			                  <div class="x_content">
			                    <canvas id="errores_comunes"></canvas>
			                  </div>
			                </div>
			              </div>
			            </div>
	                  </div>
	                </div>
	              </div>
	            
	             <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Gráficos Específicos</h2>
	                    <ul class="nav navbar-right panel_toolbox">
	                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                      </li>
	                    </ul>
	                    <div class="clearfix"></div>
	                  </div>
	                  <div class="row">
			              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
			
			                       <div class="col-md-3 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Programa*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sprograma" name="Sprograma">
			                           <option value="0">Escoja una opcion</option>
			                           <th:block th:each="i:${programa}">
										  <option  th:value="${i.idEstrategia}" th:text="${i.descripcionEstrategia}"></option>
										</th:block>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      
			                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">A&ntildeo*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="anio">
				                          <option value="0">Escoja una opcion</option>

				                          <option value="2020">2020</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mes inicial*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="mes">
			                            <option value="0">Escoja una opcion</option>
			                            <option value="1">Enero</option>
			                            <option value="2">Febrero</option>
			                            <option value="3">Marzo</option>
			                            <option value="4">Abril</option>
			                            <option value="5">Mayo</option>
			                            <option value="6">Junio</option>
			                            <option value="7">Julio</option>
			                            <option value="8">Agosto</option>
			                            <option value="9">Setiembre</option>
			                            <option value="10">Octubre</option>
			                            <option value="11">Noviembre</option>
			                            <option value="12">Diciembre</option>
			                          </select>
			                        </div>
			                      </div>
			                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mes final*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="mesf">
			                            
			                            <option value="1">Enero</option>
			                            <option value="2">Febrero</option>
			                            <option value="3">Marzo</option>
			                            <option value="4">Abril</option>
			                            <option value="5">Mayo</option>
			                            <option value="6">Junio</option>
			                            <option value="7">Julio</option>
			                            <option value="8">Agosto</option>
			                            <option value="9">Setiembre</option>
			                            <option value="10">Octubre</option>
			                            <option value="11">Noviembre</option>
			                            <option value="12">Diciembre</option>
			                          </select>
			                        </div>
			                      </div>
 
								  <br> <br> <br> 
									<div class="row">	                      
				                      <div class=" form-group">
				                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
				                          <button type="button" class="btn btn-success" onclick="graficoFiltros()">Consultar</button>
										  <button class="btn btn-primary" type="reset">Resetear</button>
				                         <!--  <button class="btn btn-primary" type="button" >Cancelar</button> -->
				                        </div>
				                      </div>
									</div>
			                    </form>
			                 </div>
			                 
			                <div id="bar_microredes"style="display:none">
	                  	    <div th:replace="views/principal/graficos_microred :: bar_graficos"></div>
		               		</div>
	                </div>
	              </div>
	              <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel" id="grafico_especifico_microred" style="display:none">
	                  <div class="x_title">
	                    <h2>Graficos especificos de la microred: </h2><h2>&nbsp&nbsp</h2><h2 id="fragment_establecimiento"></h2>
	                    <ul class="nav navbar-right panel_toolbox">

	                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                      </li>
	                    </ul>
	                    <div class="clearfix"></div>
	                  </div>
	                  <div class="x_content">
	                                
	                     <div ></div>
			            
	                  </div>
	                </div>
	              </div>
	           
	              
	            </div>
	          </div>
	        </div>
	        <!-- /page content -->
	
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>
	<div th:replace="views/layout/layout :: script">
	</div>

	<script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
	<script th:inline="javascript">
  	 /*<![CDATA[*/
	  //Line Chart
	  var ctx = document.getElementById('lineChart2').getContext("2d");
	  var gradientStroke = ctx.createLinearGradient(0, 0, 0, 450);
	  gradientStroke.addColorStop(0, '#ff0018');

	  var gradientFill = ctx.createLinearGradient(0, 0, 0, 450);
	  gradientFill.addColorStop(0, "rgba(53,127,250,0.4)");
	  gradientFill.addColorStop(1, "rgba(255,255,255,0)");
	  

	  //all data
	  var data_1 = [[${ListaIntegerMesError}]];
	  //console.log(data_1)
	  var labels = [[${ListaStringMesError}]];
	  //console.log(labels)
	  var lineChart = new Chart(ctx, {
	    type: 'line',
	    data: {
	        labels: labels,
	        datasets: [{
	            label: "Data",
	            borderColor: gradientStroke,
	            pointBorderColor: gradientStroke,
	            pointBackgroundColor: gradientStroke,
	            pointHoverBackgroundColor: gradientStroke,
	            pointHoverBorderColor: gradientStroke,
	            pointBorderWidth: 1,
	            pointHoverRadius: 4,
	            pointHoverBorderWidth: 1,
	            pointRadius: 2,
	            fill: true,
	            backgroundColor: gradientFill,
	            borderWidth: 1,
	            data: data_1
	        }]
	    },
	    options: {
	        legend: {
	        display: false,
	        position: "bottom"
	        },
	        scales: {
	          yAxes: [{
	            ticks: {
	              fontColor: "rgba(0,0,0,0.5)",
	              fontStyle: "bold",
	              beginAtZero: true,
	              maxTicksLimit: 200,
	              padding: 20
	            },
	            gridLines: {
	              drawTicks: false,
	              display: false
	            }

	        }],
	        xAxes: [{
	            gridLines: {
	              zeroLineColor: "transparent"
	            },
	            ticks: {
	              padding: 20,
	              fontColor: "rgba(0,0,0,0.5)",
	              fontStyle: "bold"
	            }
	        }]
	      }
	    }
	  });
	  
	  
	/*	//console.log([[${ListaStringNombre}]]);
	  var ctx = document.getElementById("microred_grafico").getContext("2d");
      //console.log([[${ListaStringCantidad}]]);
	  theChart= new Chart(ctx, {
		    type: 'bar',
		    data: {
		      labels: [[${ListaStringNombre}]],
		      datakeys:[[${ListaStringCodMicroRed}]],
		      datasets: [
		        {
		          label: "errores (miles)",
		          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
		          data: [[${ListaStringCantidad}]]
		        }
		      ]
		    },
		    options: {
		      legend: { display: false },
		      scales: {
		    	  xAxes: [{
		    	      beginAtZero: true,
		    	      ticks: {
		    	         autoSkip: false
		    	      }
		    	  }]
		    	},
		 
		      onClick: function(e,i){
		    	  var activePoints = theChart.getElementAtEvent(e);
                  var theElement = theChart.config.data.datakeys[activePoints[0]._index];
                  var value = theChart.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
                  var label = theChart.data.labels[activePoints[0]._index];
                  //console.log(value)
		    	  //console.log(theElement)
		    	  //console.log(label)
		    	  var url="/actualizar";
				  url=url+"?idMicroRed="+theElement;
				  
				  //nombre_microred
				  $('#nombre_microred').html(label);

				  $("#actualizar_establecimiento").load(url,function(){	
					 //document.getElementById("mensaje").style.display = "none"; 
					  var i=-1;
					  
					  $('input[id^="id_cantidad_"]').each(function(){
						  i=i+1;
						  var input_id=$(this).val();
						  //console.log(input_id)
						  var x=(input_id*160)/value
						  x=Math.round(x);
						  
						  var valor=$('div[id^="row_'+i+'"]');
						  valor.width(x);
						  
						  var procentaje=(input_id*100)/value;
						  procentaje=  procentaje.toFixed(2);
						  //document.getElementById('"span_'+i+'"').innerHTML = procentaje;
						  $('#span_'+i+'').html(input_id+"  "+'('+procentaje+"%"+')');
						  //$('#value_'+i+'').html('('+input_id+')');
					  })
				  });
				  
				  $('#fragment_establecimiento').html(label);
				  
				  var url2="/graficosMicrored";
				  url2=url2+"?idMicroRed="+theElement;
				  $("#grafico_especifico_microred").load(url2,function(){
				  });
				  
		      },
		      title: {
		        display: true,
		        text: 'Errores cometidos por las microredes de la Red de huamanga'
		      }
		    }
		});*/
	  
		/*function pruebaf(x){
			console.log(x);
			//actualizar_establecimiento
			console.log("xddd")
			/*var url="/errores/resultados";
			url=url+"?establecimiento="+establecimiento+"&anio="+anio+"&mes="+mes+"&page=";
		
			$("#resultados").load(url+'0',function(){	
				//document.getElementById("mensaje").style.display = "none";
			})
		}*/	

	  new Chart(document.getElementById("errores_comunes"), {
		    type: 'doughnut',
		    data: {
		      labels: [[${ListaStringErrorComun}]],
		      datasets: [{
		        label: "Population (cantidad)",
		        backgroundColor: ["#ff0018", "#f7b11b","#ff6c60","#8663e1","#08bf6f"],
		        data: [[${ListaIntegerErrorComun}]]
		      }]
		    },
		    options: {
		      title: {
		        display: true,
		        text: 'Errores comunes'
		      }
		    }
		  });
	  
		function graficoFiltros(){
			var idPrograma=document.getElementById("Sprograma").value;
			var anio=document.getElementById("anio").value;
			var mes_s=document.getElementById("mes").value;
			var mesf_s=document.getElementById("mesf").value;
			console.log(idPrograma+" "+anio+" "+mes+" "+mesf)
			
			mes=parseInt(mes_s);
			mesf=parseInt(mesf_s);
			
			if(anio=="0"){
				alert("El año no debe estar vacio")
				return false;
			}
			if(mes=="0"){
				alert("El mes no debe estar vacio")
				return false;
			}
			//console.log(mes>mesf)
			if(mes>mesf){
				alert("El mes inicial no puede superar al mes final")
				return false;
			}
			var url ="/graficosBar"
			url=url+"?anio="+anio+"&mes="+mes+"&idPrograma="+idPrograma+"&fmes="+mesf
			$("#barGraficos").load(url,function(){})
			document.getElementById("grafico_especifico_microred").style.display="none"
			document.getElementById("bar_microredes").style.display="block"
			//grafico_especifico_microred
		}
		
	  /*]]>*/
	</script>
</body>
</html>