<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<body>
<div class="row" th:fragment="fragment_grafico_detalle_microred" id="grafico_detalle_red">
<div class="col-md-12">
   <div class="x_panel">
     <div class="x_title">
       <h2>Avances de correciones de errores de las Micro redes &nbsp</h2>
       
       <div class="clearfix"></div>
     </div>

     <div class="x_content">

       <div class="col-md-8 col-sm-9 col-xs-12">

         <ul class="stats-overview">
           <li>
             <span class="name"> Errores corregidos  </span>
             <span class="value text-success" th:text="${cantidadCorregida}"> 0 </span>
           </li>
           <li>
             <span class="name"> Errores restantes </span>
             <span class="value text-success" th:text="${cantidadRestante}"> 0 </span>
           </li>
           <li class="hidden-phone">
             <span class="name"> Total </span>
             <span class="value text-success" th:text="${cantidadCorregida}+${cantidadRestante}"> 0 </span>
           </li>
         </ul>
         <br />

         <div class="x_content">
           <canvas id="grafico_red"></canvas>

      </div>
         


       </div>

       <!-- start project-detail sidebar -->
             <div class="col-md-4 col-sm-3 col-xs-12">

               <section class="panel">

                 <div class="x_title">
                   <h2 th:text="'Red: '+${informacionMicrored.campo1}"> </h2>
                   <div class="clearfix"></div>
                 </div>
                 <div class="panel-body">
                 
                   <p>Los datos que se muestran son los datos corregidos del periodo <strong><span th:text="${periodo}"> </span></strong> por la Red.</p> 
                   <p>Para mayor detalles : <strong>***Haga clic en un de las barras correspondientes</strong></p>
					<br>
					
                   <div class="project_detail">
					<h2><strong> Datos de la Red </strong></h2>
                     <!--<p class="title">Sector Perteneciente:</p>
                     <p th:text="${informacionMicrored.campo2}">Deveint Inc</p>-->
                     <p class="title">Departamento:</p>
                     <p th:text="${informacionMicrored.campo3}">Tony Chicken</p>
                     <!-- <p class="title">Provincia:</p>
                     <p th:text="${informacionMicrored.campo4}">Deveint Inc</p> -->
                     
                   </div>

                   <br />
                   <h4><strong>Avances de las Micro redes </strong></h4>
                   
               <table class="countries_list">
                  <th:head>
                   <tr>
                   	<th>Redes</th>
                   	<th>Corregidos</th>
                   	<th>Restantes</th>
                   	<th>Total</th>
                   </tr>
                   </th:head>
					<tbody>
					<th:block th:each="i:${terminado}">
					  	<tr>
							<td th:text="${i.campo2}">United States</td>
							<td th:text="${i.campo3}">33%</td>
							<td th:text="${i.campo4}">33%</td>
							<td th:text="${i.campo3}+${i.campo4}">33%</td>
					   	</tr>
					   </th:block>
					   <th:block th:each="i:${avanzando}">
					  	<tr>
							<td th:text="${i.campo2}">United States</td>
							<td th:text="${i.campo3}">33%</td>
							<td th:text="${i.campo4}">33%</td>
							<td th:text="${i.campo3}+${i.campo4}">33%</td>
					   	</tr>
					   </th:block>
					   <th:block th:each="i:${no_avance}">
					  	<tr>
							<td th:text="${i.campo2}">United States</td>
							<td th:text="${i.campo3}">33%</td>
							<td th:text="${i.campo4}">33%</td>
							<td th:text="${i.campo3}+${i.campo4}">33%</td>
					   	</tr>
					   </th:block>
					</tbody>
				</table>
                   <br />

                  
                 </div>

               </section>

             </div>
             <!-- end project-detail sidebar -->

     </div>
   </div>
		</div>

</div>
<script th:inline="javascript">
  	 /*<![CDATA[*/  

  	 console.log([[${ListaStringEstablecimiento}]]);
  	console.log([[${ListaStringIdEstablecimiento}]]);
	  var ctx = document.getElementById("grafico_red").getContext("2d");
      //console.log([[${ListaStringCantidad}]]);
	  theChart= new Chart(ctx, {
		    type: 'bar',
		    data: {
		      labels: [[${ListaStringEstablecimiento}]],
		      datakeys:[[${ListaStringIdEstablecimiento}]],
		      datasets: [
		        {
		          label: "avances",
		          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
		          data: [[${ListaStringCantidad}]]
		        }
		      ]
		    },
		    options: {
		      legend: { display: false },
		      scales: {
		    	  xAxes: [{
		    	      beginAtZero: true,
		    	      ticks: {
		    	         autoSkip: false
		    	      }
		    	  }]
		    	},
		 
		      onClick: function(e,i){
		    	  var activePoints = theChart.getElementAtEvent(e);
		    	  var theElement = theChart.config.data.datakeys[activePoints[0]._index];
		    	  
		    	  var URLactual = window.location;
					var path=URLactual.pathname;
					var j=0;
					var posicion=0;
					console.log(path)
					for (var i=0; i < path.length;i++) {
					    //console.log(path.charAt(i))
					    if(path.charAt(i)=="/"){
					    	j=i;
							//console.log(i);
					    }
					}
					
					path=path.substr(j+1,path.length);
		    	  
					var anio=document.getElementById("anio").value;
					var mes_s=document.getElementById("mes").value;
					var mesf_s=document.getElementById("mesf").value;
					mes=parseInt(mes_s);
		    		mesf=parseInt(mesf_s);
					
					if(mes>mesf){
						alert("el mes inicial no puede superar al mes final")
						return false;
					}
					console.log(anio+" "+mes+" "+mesf)
		    	  	//console.log("/avance/detalleMicrored/"+theElement+"?red="+path+"&anio="+anio+"&mes="+mes+"&fmes="+mesf)
		    	  window.location = "/avance/detalleMicrored/"+theElement+"?red="+path+"&anio="+anio+"&mes="+mes+"&fmes="+mesf
		    	  
		      },
		      title: {
		        display: true,
		        text: 'Avances realizados por las Micro redes'
		      }
		    }
		});
/*]]>*/
</script> 
</body>
</html>