<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es">
<head th:replace="views/layout/layout ::head">

</head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script type="text/javascript" th:src="@{/propios/usuario/usuario.js}"></script>

 <link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	            <div class="page-title">
	              <div class="title_left">
	                <h3>Modulo Usuario</h3>
	              </div>
	            </div>
	
	            <div class="clearfix"></div>
	
	            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Creación de usuario </h2>
                    
                   <div class="clearfix"></div>
                   <div id="mensaje_success"class="alert alert-success" role="alert" style="display:none">
					  Se guardo correctamente
					</div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p>Creación de un usuario en el sistema.</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Paso 1<br />
                                              <small> Descripción</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Paso 2<br />
                                              <small> Datos Persona</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Paso 3<br />
                                              <small> Datos Usuario</small>
                                          </span>
                          </a>
                        </li>

                      </ul>
                      <div id="step-1">
                        <h2 class="StepTitle">Descripcion</h2>
                        <p>
                          Rol Administrador: Tendrá accesos a módulo usuario, módulo consultas de error,módulo maestro, módulo calendario y módulo reporte
                        </p>
                        <p>
                          Rol Usuario: Tendra accesos  a módulo consultas de error, módulo maestro y módulo calendario
                        </p>
                         <div class="wiz-nav">

      				 </div> 
                      </div>
                      
                      <div id="step-2">
                         <h2 class="StepTitle">Datos Persona</h2>
                        <form class="form-horizontal form-label-left">

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" >Nombre<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="nombre" name="nombre" type="text"  class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Apellido Paterno<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="apellidoPaterno" name="apellidoPaterno" type="text"  required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Apellido Materno<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input  id="apellidoMaterno" name="apellidoMaterno" class="form-control col-md-7 col-xs-12" type="text" >
                            </div>
                          </div>

                        </form>

                      </div>
          
                      <div id="step-3">
   						 <h2 class="StepTitle">Datos Usuario</h2>
                         <form class="form-horizontal form-label-left" >
                         <div class="form-group">
                            <label id="labelNombreUsuario" class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre de Usuario<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input onkeyup="validar()" id="nombreUsuario" name="nombreUsuario" type="text" class="form-control col-md-7 col-xs-12">
                              <div id="error_mensaje" style="visibility:hidden" class="error-message">Cambie de nombre de usuario</div>
       
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Contraseña<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="contrasenia" name="contrasenia" type="password"  required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Roles<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="checkbox">
	                            <label class="">
	                              <div><input type="checkbox" value="false" onclick="rol_admin()" id="rol1"></div> admin
	                              
	                            </label>
	                            <div class="checkbox">
	                            <label class="">
	                                <div><input type="checkbox" value="false" onclick="rol_user()" id="rol2"></div> usuario
	                            </label>
	                          </div>
	                          </div>
                            </div>
                          </div>
                          </form>
                      </div>

                    </div>
                    <!-- End SmartWizard Content -->

                  </div>
                </div>
              </div>
            </div>
	            
	            
	            	          
	          </div>
	        </div>
	        <!-- /page content -->
	
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>
	<div th:replace="views/layout/layout :: script">
	</div>
	<script th:src="@{/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js}"></script>
	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	<script type="text/javascript" th:src="@{/propios/usuario/validarUsername.js}"></script>
</body>
</html>