<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="views/layout/layout ::head">

</head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
 <!-- Datatables -->
 <link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	            <div class="page-title">
	              <div class="title_left">
	                <h3>Listado Usuarios</h3>
	              </div>
	            </div>
	
	            <div class="clearfix"></div>
		         <div id="mensaje" class="alert alert-secondary" role="alert"  style="background-color:#00BFFF" 
		         th:if="${success != null}">
				  <p  style="color:black" th:text="${success}"> </p>
				</div>
	            <div class="row">
				
                <div class="x_panel">

                  <div class="x_content">

                    <p><code>Role_user</code>Tiene accesos a módulo usuario, módulo consultas de error,módulo maestro, módulo calendario y módulo reporte</p>
                    <p><code>Role_admin</code>Tiene acceso  a módulo consultas de error, módulo maestro y módulo calendario </p>


						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
				                   <h2>Roles <small>Admin y user</small></h2>
				                   <div class="clearfix"></div>
				                 </div>
								 <div class="x_content"> 
								   <table id="datatable-buttons2" class="table table-striped table-bordered">
		
								     <thead>
			                          <tr class="headings">
			                            <th class="column-title">[ROLE_USER,&nbsp&nbsp&nbsp ROLE_ADMIN] </th>
			                            <th class="column-title">Nombre</th>
			                            <th class="column-title">Apellido Paterno</th>
			                            <th class="column-title">Apellido Materno</th>
			                            <th class="column-title">Nombre Usuario </th>
			                            <th class="column-title">Creacion </th>
			                            <th class="column-title no-link last"><span class="nobr">Opciones</span>
			                            </th>
			                            <th class="bulk-actions" colspan="7">
			                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
			                            </th>
			                          </tr>
			                        </thead>
								
								      <tbody>
				                        <th:block th:each="x:${adminAndUser}">
				                          <tr class="even pointer">
				                            <td class=" ">[ROLE_USER,&nbsp&nbsp&nbsp ROLE_ADMIN]</td>
				                            <td th:text="${x.usuario.nombre}"class=" ">May 23, 2014 11:47:56 PM </td>
				                            <td th:text="${x.usuario.apellidoPaterno}"class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
				                            <td th:text="${x.usuario.apellidoMaterno}"class=" ">John Blank L</td>
				                            <td th:text="${x.usuario.nombreUsuario}"class=" ">Paid</td>
				                            <td th:text="${x.usuario.creacion}"class="a-right a-right ">$7.45</td>
				                            <td class=" last"><a th:href="@{/usuario/editar/}+${x.usuario.idUsuario}" style="color:green">Editar</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a th:href="@{/usuario/eliminar/}+${x.usuario.idUsuario}" onclick="return confirm('Estás seguro que quieres eliminar?');" style="color:red">Eliminar</a></td>
				                            
				                          </tr>
				                          </th:block>
				
				     				   </tbody>
								
								   </table>
								</div>
							</div>
						</div>
						
						<div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="x_panel">
						 	<div class="x_title">
			                   <h2>Roles <small>Admin</small></h2>
			                   <div class="clearfix"></div>
			                 </div>
							<div class="x_content"> 
							  <table id="datatable-buttons3" class="table table-striped table-bordered">
	
							     <thead>
		                          <tr class="headings">
		                            <th class="column-title">[ROLE_ADMIN] </th>
		                            <th class="column-title">Nombre</th>
		                            <th class="column-title">Apellido Paterno</th>
		                            <th class="column-title">Apellido Materno</th>
		                            <th class="column-title">Nombre Usuario </th>
		                            <th class="column-title">Creacion </th>
		                            <th class="column-title no-link last"><span class="nobr">Opciones</span>
		                            </th>
		                            <th class="bulk-actions" colspan="7">
		                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
		                            </th>
		                          </tr>
		                        </thead>
							
							      <tbody>
			                        <th:block th:each="x:${admin}">
			                          <tr class="even pointer">
			                            <td class=" ">[ROLE_ADMIN]</td>
			                            <td th:text="${x.usuario.nombre}"class=" ">May 23, 2014 11:47:56 PM </td>
			                            <td th:text="${x.usuario.apellidoPaterno}"class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
			                            <td th:text="${x.usuario.apellidoMaterno}"class=" ">John Blank L</td>
			                            <td th:text="${x.usuario.nombreUsuario}"class=" ">Paid</td>
			                            <td th:text="${x.usuario.creacion}"class="a-right a-right ">$7.45</td>
			                            <td class=" last"><a th:href="@{/usuario/editar/}+${x.usuario.idUsuario}" style="color:green">Editar</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a th:href="@{/usuario/eliminar/}+${x.usuario.idUsuario}" style="color:red" onclick="return confirm('Estás seguro que quieres eliminar?');" >Eliminar</a></td>
			                            
			                          </tr>
			                          </th:block>
			
			     				   </tbody>
							
							   </table>
							</div>
						  </div>
						</div>
						
						
						<div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="x_panel">
						  <div class="x_title">
			                   <h2>Roles<small>User</small></h2>
			                   <div class="clearfix"></div>
		                  </div>
						  <div class="x_content"> 
						  	<table id="datatable-buttons4" class="table table-striped table-bordered">

						     <thead>
	                          <tr class="headings">
	                            <th class="column-title">[ROLE_USER] </th>
	                            <th class="column-title">Nombre</th>
	                            <th class="column-title">Apellido Paterno</th>
	                            <th class="column-title">Apellido Materno</th>
	                            <th class="column-title">Nombre Usuario </th>
	                            <th class="column-title">Creacion </th>
	                            <th class="column-title no-link last"><span class="nobr">Opciones</span>
	                            </th>
	                            <th class="bulk-actions" colspan="7">
	                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
	                            </th>
	                          </tr>
	                        </thead>
						
						      <tbody>
		                        <th:block th:each="x:${user}">
		                          <tr class="even pointer">
		                            <td class=" ">[ROLE_USER]</td>
		                            <td th:text="${x.usuario.nombre}"class=" ">May 23, 2014 11:47:56 PM </td>
		                            <td th:text="${x.usuario.apellidoPaterno}"class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
		                            <td th:text="${x.usuario.apellidoMaterno}"class=" ">John Blank L</td>
		                            <td th:text="${x.usuario.nombreUsuario}"class=" ">Paid</td>
		                            <td th:text="${x.usuario.creacion}"class="a-right a-right ">$7.45</td>
		                            <td class=" last"><a th:href="@{/usuario/editar/}+${x.usuario.idUsuario}" style="color:green">Editar</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a  th:href="@{/usuario/eliminar/}+${x.usuario.idUsuario}" onclick="return confirm('Estás seguro que quieres eliminar?');" style="color:red">Eliminar</a></td>
		                            
		                          </tr>
		                          </th:block>
		
		     				   </tbody>
						
						   </table>
					      </div>
					  	  </div>
						</div>

                  </div>
                </div>
 

	            </div>
	          </div>
	        </div>
	        <!-- /page content -->
	
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>
	<div th:replace="views/layout/layout :: script">
	</div>
	 <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
   <!-- Datatables -->
   <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
   <script th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
   <script th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
   <script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
   <script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
   <script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
   <script th:src="@{/propios/usuario/listarUsuario.js}"></script>
  
</body>
</html>