<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="views/layout/layout ::head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link th:href="@{/propios/checkbox.css}" rel="stylesheet">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	            <div class="page-title">
	              <div class="title_left">
	                <h3>Consultas</h3>
	              </div>
	            </div>
	
	            <div class="clearfix"></div>
	            
	            
	            <div class="row">
		              <div class="col-md-12 col-sm-12 col-xs-12">
		                <div class="x_panel">
		                  <div class="x_title">
		                    <h2>Búsqueda con parámetro</h2><h6>&nbsp&nbsp&nbsp&nbsp Todos los campos con * son obligatorio</h6>
		                   
		                    <div class="clearfix"></div>
		                    <div id="messages"class="alert alert-danger" role="alert" style="display: none">
		                    	<div class="title">
								<h5 id="texto"></h5>
								</div>
							</div>
		                  </div>
		                  <div class="x_content">
		                  	<div class="row">
			                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
			
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">A&ntildeo*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="anio">
				                          <option value="0">Escoja una opcion</option>
				                          <option value="2020">2020</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mes*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="mes">
			                            <option value="0">Escoja una opcion</option>
			                            <option value="1">Enero</option>
			                            <option value="2">Febrero</option>
			                            <option value="3">Marzo</option>
			                            <option value="4">Abril</option>
			                            <option value="5">Mayo</option>
			                            <option value="6">Junio</option>
			                            <option value="7">Julio</option>
			                            <option value="8">Agosto</option>
			                            <option value="9">Setiembre</option>
			                            <option value="10">Octubre</option>
			                            <option value="11">Noviembre</option>
			                            <option value="12">Diciembre</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Registrador*</label>
				                      <div class="col-md-6 col-sm-6  form-group has-feedback">
										<input type="text" class="form-control has-feedback-left" id="dni" placeholder="DNI" maxlength="8">
										<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
									  </div>
								   </div>
								   
								   <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Programa</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sprograma" >
			                          	<option value="0">Escoja una opcion</option>
			                          	 <th:block th:each="i:${programa}">
										  <option  th:value="${i.idEstrategia}" th:text="${i.descripcionEstrategia}"></option>
										</th:block>
			                          </select>
			                        </div>
			                      </div>
			                      <!--  
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Registrador</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="StipoRegistrador" >
			                          	<option value="0">Ambos</option>
			                          	<option value="1">Asistencial</option>
			                          	<option value="2">Estadistico</option>
			                          </select>
			                        </div>
			                      </div> -->
			                      
			                       <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Corregido</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
										 <div class="checkbox">
				                            <label >
				                              <input type="checkbox"  id="estado" > 
				                            </label>
				                          </div>
			                        </div>
			                      </div>
			                      
 
								  <br> <br> <br> 
									<div class="row">	                      
				                      <div class=" form-group">
				                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
				                          <button type="button" class="btn btn-success" onclick="enviar()">Consultar</button>
										  <button class="btn btn-primary" type="reset">Resetear</button>
				                         <!--  <button class="btn btn-primary" type="button" >Cancelar</button> -->
				                        </div>
				                      </div>
									</div>
			                    </form>
			                 </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		
   

				
					<div class="page-title"  id="resultados_registrador" style="visibility:hidden">
		              <div class="title_left">
		                <h3>Resultados </h3>
		              </div>
		            </div>
		            
					<div class="clearfix"></div>
		            <div class="alert alert-success  " role="alert" id="mensaje_registrador" style="display:none">
						<strong>Espere un momento!</strong> Los datos estan siendo cargados
					</div>
	            	

				
	            <div id="resultados"></div>
	            
	            
	            
	            
	          </div>
	        </div>
	        <!-- /page content -->
	
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>
	<div th:replace="views/layout/layout :: script">
	</div>
	<script type="text/javascript">
	function enviar(){
		
		var anio=document.getElementById("anio").value;
		var mes= document.getElementById("mes").value;
		var dni= document.getElementById("dni").value;
		var programa=document.getElementById("Sprograma").value;
		var tipoRegistrador=document.getElementById("StipoRegistrador").value;
		var estado=document.getElementById("estado").checked;
		
		dni.replace(" ","");
		if(anio=="0"){
			alert("Ponga el año")
			return false;
		}
		
		if(mes=="0"){
			alert("Ponga el mes")
			return false;
		}
		
		if(dni.length!=8){
			alert("Ingrese el dni correctamente")
			return false;
		}
		
		document.getElementById("resultados_registrador").style.visibility= "visible";
		document.getElementById("mensaje_registrador").style.display = "block";
		
		var url="/errores/resultadosUser";
		url=url+"?dni="+dni+"&anio="+anio+"&mes="+mes+"&idPrograma="+programa+"&tipoRegistrador="+tipoRegistrador+"&estado="+estado+"&page=";
		$("#resultados").load(url+'0',function(){
			
			document.getElementById("mensaje_registrador").style.display = "none";
			var documentoDownloadExcel=document.getElementById("excel");
			var urlExcel='/reporte/excelUser';
			urlExcel=urlExcel+"?dni="+dni+"&anio="+anio+"&mes="+mes+"&idPrograma="+programa+"&tipoRegistrador="+tipoRegistrador+"&estado="+estado;
			documentoDownloadExcel.href=urlExcel;
			
			var documentoDownloadCSV=document.getElementById("csv");
			var urlCSV='/reporte/csvRegistrador.csv';
			urlCSV=urlCSV+"?dni="+dni+"&anio="+anio+"&mes="+mes+"&idPrograma="+programa+"&tipoRegistrador="+tipoRegistrador+"&estado="+estado;
			documentoDownloadCSV.href=urlCSV;
			
		})
		
	}
	</script>

</body>
</html>
