<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org/">
<style>
.reduction{
   margin-bottom: 2px; 
}
</style>
<body>
<div th:fragment="detalle_modal">
<div id="modal_detalle_errores">
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modal_detalle_lista_errores">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Detalles de la cita y error</h4>
          </div>
          <div class="modal-body">
            <!-- <h4>Detalle del error</h4>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p> -->
	            
		     <div class="row">
		      <th:block th:if="${detalle_cita}!=null">
	              <div class="col-md-6 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Detalle de la cita</h2>
	                  	<div class="clearfix"></div>
	                  </div>
	                  <div class="x_content">
	                    <br />
	                    <form class="form-horizontal form-label-left input_mask">
	
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">F. atencion</label>
	                        <div class="col-md-4 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly"  th:value="${detalle_cita.fechaAtencion}">
	                        </div>
	                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Lote</label>
	                        <div class="col-md-3 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.lote}">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Num. pag</label>
	                        <div class="col-md-3 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.numPag}">
	                        </div>
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Num. reg</label>
	                        <div class="col-md-3 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.numReg}">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">UPS</label>
	                        <div class="col-md-9 col-sm-9 col-xs-12">
	                          <textarea class="form-control" rows="3" readonly="readonly" th:text="${detalle_cita.idUps.descripcionUps}"></textarea>
	                        </div>
	                      </div>
	                    </form>
	                  </div>
	                </div>
	
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Datos del personal de salud</h2>
	                    <div class="clearfix"></div>
	                  </div>
	                  <div class="x_content">
	                   <form class="form-horizontal form-label-left input_mask">
					
	                      
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">DNI del personal </label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idPersonal.numeroDocumentoPersonal}+' ('+ ${detalle_cita.idPersonal.idTipoDocumentoPersonal.abrevTipoDoc}+')'">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Nombres del personal </label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idPersonal.nombresPersonal}">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Apellidos del personal </label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idPersonal.apellidoPaternoPersonal}+' '+ ${detalle_cita.idPersonal.apellidoMaternoPersonal}">
	                        </div>
	                      </div>
	                      



	                   </form>
	                  </div>
	                </div>
	
	
					<th:block th:if="${visible}">
					<div class="x_panel">
		                  <div class="x_title">
		                    <h2>Datos del establecimiento</h2>
		                   <div class="clearfix"></div>
		                  </div>
		                  <div class="x_content">
		                   <form class="form-horizontal form-label-left input_mask">
						
		                      
		                      <div class="form-group reduction">
		                        <label class="control-label col-md-5 col-sm-3 col-xs-12">DISA </label>
		                        <div class="col-md-7 col-sm-9 col-xs-12">
		                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idEstablecimiento.disa}">
		                        </div>
		                      </div>
		                      
		                      <div class="form-group reduction">
		                        <label class="control-label col-md-5 col-sm-3 col-xs-12">RED </label>
		                        <div class="col-md-7 col-sm-9 col-xs-12">
		                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idEstablecimiento.red}">
		                        </div>
		                      </div>
		                      
		                      <div class="form-group reduction">
		                        <label class="control-label col-md-5 col-sm-3 col-xs-12">MicroRed </label>
		                        <div class="col-md-7 col-sm-9 col-xs-12">
		                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idEstablecimiento.microRed}">
		                        </div>
		                      </div>
		                      
		                      <div class="form-group reduction">
		                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Establecimiento </label>
		                        <div class="col-md-7 col-sm-9 col-xs-12">
		                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idEstablecimiento.nombreEstablecimiento}">
		                        </div>
		                      </div>
	
	
	
		                   </form>
		                  </div>
		             </div>
					</th:block>
		
	              </div>
	
	              <div class="col-md-6 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Datos del paciente</h2>
	                    <div class="clearfix"></div>
	                  </div>
	                  <div class="x_content">
	                    <br />
	                    <form class="form-horizontal form-label-left">
	
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">DNI del paciente </label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idPaciente.numeroDocumentoPaciente}+' ('+ ${detalle_cita.idPaciente.idTipoDocumentoPaciente.abrevTipoDoc}+')'">
	                        </div>
	                      </div>
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Nombres del paciente</label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idPaciente.nombresPaciente}">
	                        </div>
	                      </div>
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Apellidos del paciente</label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idPaciente.apellidoPaternoPaciente}+' '+${detalle_cita.idPaciente.apellidoMaternoPaciente}">
	                        </div>
	                      </div>
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">H. clinica del paciente</label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idPaciente.historiaClinica}">
	                        </div>
	                      </div>
	                     
	                     </form>
	                   </div>
	                 
	                  </div>
		              
		              
		              <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Datos del registrador</h2>
	                    <div class="clearfix"></div>
	                  </div>
	                  <div class="x_content">
	                   <form class="form-horizontal form-label-left input_mask">

	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">DNI del registrador </label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idRegistrador.numeroDocumentoRegistrador}+' ('+ ${detalle_cita.idRegistrador.idTipoDocumentoRegistrador.abrevTipoDoc}+')'">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Nombres del registrador </label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idRegistrador.nombresRegistrador}">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group reduction">
	                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Apellidos del registrador </label>
	                        <div class="col-md-7 col-sm-9 col-xs-12">
	                          <input type="text" class="form-control" readonly="readonly" th:value="${detalle_cita.idRegistrador.apellidoPaternoRegistrador}+' '+ ${detalle_cita.idRegistrador.apellidoMaternoRegistrador}">
	                        </div>
	                      </div>
	                      
	                      
	                    </form>
	                  </div>
	                </div>
		              
	                </div>
			  </th:block>
	         </div>
	         <div class="row col-md-12 col-xs-12">
	         	<table class="table table-striped jambo_table bulk_action" id="tabla_error">
	            <thead>
	              <tr class="headings">
	               
	                <!-- <th class="column-title">Error descripcion corta </th>-->
	                <th class="column-title">Error descripcion completa</th>
	               	<!-- <th class="column-title">Programa de estrategia </th>-->
	                <!-- <th class="column-title">Descripcion de estrategia</th>-->
	                <th class="column-title">Deber ser </th>
	                <th class="column-title">Corregido</th>
	                
	              </tr>
	            </thead>
	
	            <tbody>
	             <th:block th:each="i,index:${detalle}">
	              <tr class="even pointer">
	                <!-- <td class=" " th:text="${i.idError.descripcionCorta}">May 24, 2014 11:47:56 PM </td> -->
	                <td class=" " th:text="${i.idError.descripcionLarga}">121000210</td>
	                <!-- <td class=" " th:text="${i.idError.idEstrategia.programa}">121000040</td> -->
	                <!-- <td class=" " th:text="${i.idError.idEstrategia.descripcionEstrategia}">121000040</td> --> 
	                <td class=" " th:text="${i.idError.sintaxis}">John Blank L</td>
	                <td >
	                	<div class="checkbox">
	                		<label>
				                <input type="checkbox" th:id="'estado_individual_'+${index.index}"  th:checked="${i.estado}" th:attr="onclick=|actualizarError('${index.index}','${i.id}','${detalle_cita.idCita}')|" > 
				             </label>
				          </div>
				     </td>
	                
	               </tr>
	             </th:block>
	            </tbody>
	          </table>
	          
	         </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
          </div>

        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
function actualizarError(posicion,id,idCita){
	var token = $("input[name='_csrf']").val();
	var header = "X-CSRF-TOKEN";
	var estado_individual=document.getElementById("estado_individual_"+posicion).checked;
	//console.log(estado_individual)
	//console.log(id)
	$.ajax({
		contentType: "application/json",
		url:"/errores/actualizar/"+id,
		beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token)
            //console.log("hola").removeAttr('disabled')
            //$( "#checkbox.detalle" ).prop( "disabled", true );tabla_error
            $('#tabla_error tbody').find('tr').each(function (i, el) {
            	//console.log(i)
            	$('#estado_individual_'+i).prop( "disabled", true );            
            });
        },
        type:'POST',
        data:JSON.stringify({"estado":estado_individual}),
		dataType:'json',
		success:function(data){
			//console.log(data)
			var mensaje="";
			if(data.hasOwnProperty('1')){
				console.log(data[1])
				 var texto=data[1];
				//alert(texto);
				/* $('#texto_modal_success').text(texto);
				 $('#texto_modal_success').attr("style", "display:block")
				 $('#exampleModal').modal('show');*/
			}
			if(data.hasOwnProperty('2')){
				console.log(data[2])
				 var texto=data[2];
				alert(texto);
				/* $('#texto_modal_success').text(texto);
				 $('#texto_modal_success').attr("style", "display:block")
				 $('#exampleModal').modal('show');*/
			}
			if(data.hasOwnProperty('3')){
				console.log(data[3])
				var texto=data[3];
				alert(texto);
				/*$('#texto_modal_danger').text(texto);
				$('#texto_modal_danger').attr("style", "display:block")
				$('#exampleModal').modal('show');*/
			}
		},
		error:function(jqXHR, textStatus, errorThrown){//jqXHR, textStatus, errorThrown
			console.log("error");
			 if (jqXHR.status === 0) {
	            console.log('Not connect: Verify Network.');

	          } else if (jqXHR.status == 404) {

	        	console.log('Requested page not found [404]');

	          } else if (jqXHR.status == 500) {

	        	console.log('Internal Server Error [500].');

	          } else if (textStatus === 'parsererror') {

	        	  console.log('Requested JSON parse failed.');

	          } else if (textStatus === 'timeout') {

	        	  console.log('Time out error.');

	          } else if (textStatus === 'abort') {

	        	  console.log('Ajax request aborted.');

	          } else {

	        	  console.log('Uncaught Error: ' + jqXHR.responseText);
	          }
		},
		complete: function(data) {
			var listacompleta=[];
			var iteracion=0;
			$('#tabla_error tbody').find('tr').each(function (i, el) {
            	$('#estado_individual_'+i).prop( "disabled", false ); 
            	var estado= $('#estado_individual_'+i).is(':checked');
            	if(estado){
            		listacompleta.push(i);
            	}
            	iteracion++;
            });
			if(listacompleta.length==iteracion){
				console.log("compelt")
				$('#estado_error_'+idCita).attr('class', '');
				$('#estado_error_'+idCita).addClass("label label-success");
				document.getElementById('estado_error_'+idCita).innerHTML = "Corregido";
			}
			else{
				console.log("Incompelt")
				$('#estado_error_'+idCita).attr('class', '');
				$('#estado_error_'+idCita).addClass("label label-danger");
				document.getElementById('estado_error_'+idCita).innerHTML = "Falta corregir";
			}
		}
	})
}
</script>
</div>
				
</body>
</html>