<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="views/layout/layout ::head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link th:href="@{/propios/checkbox.css}" rel="stylesheet">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	            <div class="page-title">
	              <div class="title_left">
	                <h3>Consultas</h3>
	              </div>
	            </div>
	
	            <div class="clearfix"></div>
	            
	            
	            <div class="row">
		              <div class="col-md-12 col-sm-12 col-xs-12">
		                <div class="x_panel">
		                  <div class="x_title">
		                    <h2>Búsqueda con parámetro</h2><h6>&nbsp&nbsp&nbsp&nbsp Todos los campos con * son obligatorio</h6>
		                   
		                    <div class="clearfix"></div>
		                    <div id="messages"class="alert alert-danger" role="alert" style="display: none">
		                    	<div class="title">
								<h5 id="texto"></h5>
								</div>
							</div>
		                  </div>
		                  <div class="x_content">
		                  	<div class="row">
			                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
			
			                      <!--  
								  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Departamento*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sdepartamento"onchange="departamento()">
			                          	<option value="0">Escoja una opcion</option>
			                          	 <th:block th:each="i:${departamento}">
										  <option  th:value="${i.value}" th:text="${i.nombre}"></option>
										</th:block>
			                          </select>
			                        </div>
			                      </div>
			                      
								<div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Provincia*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sprovincia" name="Sprovincia" onchange="provincia()">
			                           <option value="0">Escoja una opcion</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Distrito</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sdistrito" name="Sdistrito"  onchange="distrito()">
			                            <option value="0">Escoja una opcion</option>
			                          </select>
			                        </div>
			                      </div>      -->
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Disa*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sdisa" onchange="disa()" disabled>
			                          	<option value="5">AYACUCHO</option>
			                           <!-- <option value="0">Escoja una opcion</option> 
			                          	<th:block th:each="i:${disa}">
										  <option  th:value="${i.value}" th:text="${i.nombre}"></option>
										</th:block>-->
			                          </select>
			                        </div>
			                      </div>
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Red*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sred" name="Sred" onchange="red()" disabled>
			                          <option value="01">HUAMANGA</option>
			                          	<!-- <option value="0">Escoja una opcion</option> -->

			                          </select>
			                        </div>
			                      </div>
			                      
								  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Microred*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="SmicroRed" name="SmicroRed" onchange="microRed()">
			                           <option value="0">Escoja una opcion</option>
			                           <!------------------------>
			                           <th:block th:each="i:${microred}">
										  <option  th:value="${i.value}" th:text="${i.nombre}"></option>
										</th:block>
										<!------------------------>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      
			                       <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Establecimiento*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sestablecimiento" name="Sestablecimiento">
			                           <option value="0">Escoja una opcion</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">A&ntildeo*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="anio">
				                          <option value="0">Escoja una opcion</option>
				                          <option value="2020">2020</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mes*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="mes">
			                            <option value="0">Escoja una opcion</option>
			                            <option value="1">Enero</option>
			                            <option value="2">Febrero</option>
			                            <option value="3">Marzo</option>
			                            <option value="4">Abril</option>
			                            <option value="5">Mayo</option>
			                            <option value="6">Junio</option>
			                            <option value="7">Julio</option>
			                            <option value="8">Agosto</option>
			                            <option value="9">Setiembre</option>
			                            <option value="10">Octubre</option>
			                            <option value="11">Noviembre</option>
			                            <option value="12">Diciembre</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Programa</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="Sprograma" >
			                          	<option value="0">Escoja una opcion</option>
			                          	 <th:block th:each="i:${programa}">
										  <option  th:value="${i.idEstrategia}" th:text="${i.descripcionEstrategia}"></option>
										</th:block>
			                          </select>
			                        </div>
			                      </div>
			                      
			                       <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Registrador</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="StipoRegistrador">
			                          	<option value="0">Ambos</option>
			                          	<option value="1">Asistencial</option>
			                          	<option value="2">Estadistico</option>
			                          </select>
			                        </div>
			                      </div>
			                      
			                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Corregido</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
										 <div class="checkbox">
				                            <label >
				                              <input type="checkbox"  id="estado" > 
				                            </label>
				                          </div>
			                        </div>
			                      </div>
			                      
			                      
 
								  <br> <br> <br> <br> <br> <br><br> <br>
									<div class="row">	                      
				                      <div class=" form-group">
				                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
				                          <button type="button" class="btn btn-success" onclick="enviar()">Consultar</button>
										  <button class="btn btn-primary" type="reset">Resetear</button>
				                         <!--  <button class="btn btn-primary" type="button" >Cancelar</button> -->
				                        </div>
				                      </div>
									</div>
			                    </form>
			                 </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		
   

				
					<div class="page-title"  id="div_resultados" style="visibility:hidden">
		              <div class="title_left">
		                <h3>Resultados </h3>
		              </div>
		            </div>
	
	            	<div class="clearfix"></div>
		            <div class="alert alert-success  " role="alert" id="mensaje" style="display:none">
						<strong>Espere un momento!</strong> Los datos estan siendo cargados
					</div>

				
	            <div id="resultados"></div>
	            
	            
	            
	            
	          </div>
	        </div>
	        <!-- /page content -->
	
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>
	<div th:replace="views/layout/layout :: script">
	</div>
	<script type="text/javascript">
	/*cargar url*/
	var token = $("input[name='_csrf']").val();
	var header = "X-CSRF-TOKEN";
	
	
	/*function departamento(){
		var departamento=document.getElementById("Sdepartamento").value;
		var jsonDepa={
				nombre:departamento
		}
		
		$.ajax({
			contentType: "application/json",
			url:"/ubigeo/cargaProvincia",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			datatype:"application/json",
			type:'POST',
			data:JSON.stringify(jsonDepa),
			dataType:'json',
			success:function(data){
				console.log(data);
				//console.log(data.length);
				//console.log(data[1].nombre);
				//console.log(data[nombre]);
				var select = document.getElementsByName("Sprovincia")[0];
				$("#Sprovincia").empty();
				var option=document.createElement("option");
				option.text = "Escoja una opcion";
				option.value = "0";
				select.add(option);
				for (var i=0;i<data.length;i++){
					option=document.createElement("option");
					option.text = data[i].nombre;
					option.value = data[i].value;
					select.add(option);
				}
			},
			error:function(){
				console.log("error");
			}
		})
		
	}
	
	
	function provincia(){
		var departamento=document.getElementById("Sdepartamento").value;
		var provincia=document.getElementById("Sprovincia").value;
		
		var jsonProvincia={
				departamento:departamento,
				provincia:provincia
		};
		$.ajax({
			contentType: "application/json",
			url:"/ubigeo/cargaDistrito",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			datatype:"application/json",
			type:'POST',
			data:JSON.stringify(jsonProvincia),
			dataType:'json',
			success:function(data){
				console.log(data);
				var select = document.getElementsByName("Sdistrito")[0];
				$("#Sdistrito").empty();
				var option=document.createElement("option");
				option.text = "Escoja una opcion";
				option.value = "0";
				select.add(option);
				
				for (var i=0;i<data.length;i++){
					option=document.createElement("option");
					option.text = data[i].nombre;
					option.value = data[i].value;
					select.add(option);
				}
			},
			error:function(){
				console.log("error");
			}
		})	
	}
	
	function distrito(){
		var departamento=document.getElementById("Sdepartamento").value;
		var provincia=document.getElementById("Sprovincia").value;
		var distrito=document.getElementById("Sdistrito").value;
		var ubigeo=departamento+""+provincia+""+distrito
		
		var establecimiento={
				ubigeo:ubigeo
		};
		
		$.ajax({
			contentType: "application/json",
			url:"/ubigeo/red",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			datatype:"application/json",
			type:'POST',
			data:JSON.stringify(establecimiento),
			dataType:'json',
			success:function(data){
				console.log(data);
				var select = document.getElementsByName("Sred")[0];
				$("#Sred").empty();
				var option=document.createElement("option");
				option.text = "Escoja una opcion";
				option.value = "0";
				select.add(option);
				
				for (var i=0;i<data.length;i++){
					option=document.createElement("option");
					option.text = data[i].nombre;
					option.value = data[i].value;
					select.add(option);
				}
			},
			error:function(){
				console.log("error");
			}
		})	
		
	}*/
	
	function disa(){
		var codDisa=document.getElementById("Sdisa").value;
		var jsonDisa={
				codDisa:codDisa
		};
		
		$.ajax({
			contentType: "application/json",
			url:"/ubigeo/red",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			datatype:"application/json",
			type:'POST',
			data:JSON.stringify(jsonDisa),
			dataType:'json',
			success:function(data){
				console.log(data);
				var select = document.getElementsByName("Sred")[0];
				$("#Sred").empty();
				var option=document.createElement("option");
				option.text = "Escoja una opcion";
				option.value = "0";
				select.add(option);
				
				for (var i=0;i<data.length;i++){
					option=document.createElement("option");
					option.text = data[i].nombre;
					option.value = data[i].value;
					select.add(option);
				}
			},
			error:function(){
				console.log("error");
			}
		})	
		
	}
	
	
	function red(){
		var red=document.getElementById("Sred").value;
		var disa=document.getElementById("Sdisa").value;
		
		var jsoncodRed={
				codRed:red,
				codDisa:disa
		};
		$.ajax({
			contentType: "application/json",
			url:"/ubigeo/microRed",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			datatype:"application/json",
			type:'POST',
			data:JSON.stringify(jsoncodRed),
			dataType:'json',
			success:function(data){
				console.log(data);
				var select = document.getElementsByName("SmicroRed")[0];
				$("#SmicroRed").empty();
				var option=document.createElement("option");
				option.text = "Escoja una opcion";
				option.value = "0";
				select.add(option);
				
				for (var i=0;i<data.length;i++){
					option=document.createElement("option");
					option.text = data[i].nombre;
					option.value = data[i].value;
					select.add(option);
				}
			},
			error:function(){
				console.log("error");
			}
		})	
	}
	
	function microRed(){
		var codDisa=document.getElementById("Sdisa").value;
		var red=document.getElementById("Sred").value;
		var microRed=document.getElementById("SmicroRed").value;
		
		var json={
				codDisa:codDisa,
				red:red,
				microRed:microRed
		};
		
		$.ajax({
			contentType: "application/json",
			url:"/ubigeo/establecimiento",
			beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token)
	          },
			datatype:"application/json",
			type:'POST',
			data:JSON.stringify(json),
			dataType:'json',
			success:function(data){
				console.log(data);
				var select = document.getElementsByName("Sestablecimiento")[0];
				$("#Sestablecimiento").empty();
				var option=document.createElement("option");
				option.text = "Escoja una opcion";
				option.value = "0";
				select.add(option);
				
				for (var i=0;i<data.length;i++){
					option=document.createElement("option");
					option.text = data[i].nombre;
					option.value = data[i].value;
					select.add(option);
				}
			},
			error:function(){
				console.log("error");
			}
		})	
		
		
	}
	
	/*function check(){
		var estado=document.getElementById("estado").checked;
		console.log(estado)
		if(estado==true){
			console.log("if TRUE");	
		}
		if(estado==false){
			console.log("if FALSE");
		}
	}*/
	
	function enviar(){
		var codDisa=document.getElementById("Sdisa").value;
		var red=document.getElementById("Sred").value;
		var microRed=document.getElementById("SmicroRed").value;
		var establecimiento=document.getElementById("Sestablecimiento").value;
		var anio=document.getElementById("anio").value;
		var mes=document.getElementById("mes").value;
		var programa=document.getElementById("Sprograma").value;
		var tipoRegistrador=document.getElementById("StipoRegistrador").value;
		var estado=document.getElementById("estado").checked;
		
		var select=document.getElementById("Sestablecimiento");
		var text= select.options[select.selectedIndex].text;
		console.log(text)
		/*if(corregido==true){
			estado=1;
		}
		if(corregido==false){
			estado=0;
		}*/
		
		/*if(departamento=="0" ){
			alert("Algun campo esat en vacio")
			return false
		}*/

		if( codDisa=='0' || red=='0' || microRed=='0' || establecimiento=='0' || 
				anio=='0' || mes=='0' ){
			alert("Algun campo esta en vacio")
			return false
		}
		
		document.getElementById("div_resultados").style.visibility= "visible";
		document.getElementById("mensaje").style.display = "block";
		
		var url="/errores/resultados";
		url=url+"?establecimiento="+establecimiento+"&anio="+anio+"&mes="+mes+"&idPrograma="+programa+"&tipoRegistrador="+tipoRegistrador+"&estado="+estado+"&page=";
		
		$("#resultados").load(url+'0',function(){
			
			document.getElementById("mensaje").style.display = "none";
			document.getElementById("nombre_establecimiento").innerText = text+" ";
			
			var documentoDownloadExcel=document.getElementById("excel");
			var urlExcel='/reporte/excelEstablecimiento';
			urlExcel=urlExcel+"?establecimiento="+establecimiento+"&anio="+anio+"&mes="+mes+"&idPrograma="+programa+"&tipoRegistrador="+tipoRegistrador+"&estado="+estado;
			documentoDownloadExcel.href=urlExcel;
			
			var documentoDownloadCSV=document.getElementById("csv");
			var urlCSV='/reporte/csvEstablecimiento.csv';
			urlCSV=urlCSV+"?establecimiento="+establecimiento+"&anio="+anio+"&mes="+mes+"&idPrograma="+programa+"&tipoRegistrador="+tipoRegistrador+"&estado="+estado;
			documentoDownloadCSV.href=urlCSV;
			
			
		})
	}
	</script>
	

</body>
</html>