<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="x_panel">
       <div class="x_title">
         <h2 th:text="${resultados}+': '"></h2><h2>&nbsp&nbsp</h2><h2 id="nombre_establecimiento"> </h2><h2 th:if="${visible}==1" th:text="${dato_nombre.campo1}"> </h2><h2></h2><h2 th:text="${tiempo}"> </h2>
         <div class="clearfix"></div>
       </div>
       <div class="x_content">
        

        <div class="table-responsive">
        <th:block th:if="${lista.size()!=0}">
	        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5" >
				<a class="btn btn-default buttons-copy buttons-html5 btn-sm "  tabindex="0" aria-controls="datatable-buttons" id="excel" ><span>excel</span></a>
				<a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons" id="csv" ><span>CSV</span></a> <!--href="" target="_blank"  -->
			</div>
	    </th:block>
	    <th:block th:if="${lista.size()!=0}">
          <table class="table table-striped jambo_table bulk_action" >
            <thead>
              <tr class="headings">
              <th class="column-title">N# </th>
                <th class="column-title">Personal de salud </th>
                <th class="column-title">F. de atencion </th>
                <th class="column-title">Lote</th>
                <th class="column-title">Numero Pag</th>
                <th class="column-title">Numero Reg</th>
                <th class="column-title">Estado</th>
                <th class="column-title no-link last"><span class="nobr">Acciones</span>
                </th>
                <th class="bulk-actions" colspan="7">
                  <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
              </tr>
            </thead>

            <tbody>
             <th:block th:each="i,index:${lista}">
              <tr class="even pointer">
                <td class=" " th:text="${index.index+1}+${(page.getPaginaActual()-1)*15}">121000040</td>
                <td class=" " th:text="${i.idCita.idPersonal.nombresPersonal}+' '+ ${i.idCita.idPersonal.apellidoPaternoPersonal}+' '+ ${i.idCita.idPersonal.apellidoMaternoPersonal}">121000040</td>
                <td class=" " th:text="${i.idCita.fechaAtencion}">May 24, 2014 11:47:56 PM </td>
                <td class=" " th:text="${i.idCita.lote}">Paid</td>
                <td class=" " th:text="${i.idCita.numPag}">121000210</td>
                <td class=" " th:text="${i.idCita.numReg}">John Blank L</td>
                <td class=" " ><span th:class="${i.estado}==true? 'label label-success': 'label label-danger'" 
                class="label label-danger" th:text="${i.estado}==true? 'Corregido':'Falta corregir'" th:id="'estado_error_'+${i.idCita.idCita}">sdsd</span></td>
                <td class=" last"><button  th:attr="onclick=|detalle('${i.idCita.idCita}')|">Detalles de la cita</button>
                </td>
               </tr>
             </th:block>
            </tbody>
          </table>
          <nav >
						
		<ul class="pagination">
			<li class="page-item" th:class="${page.first? 'page-item disabled': 'page-item'}">
				<span class="page-link" th:if="${page.first}">Primera</span>
				<a class="page-link" th:if="${not page.first}" href="#" th:attr="onclick=|enviar_paginador_prueba('${page.url}','1')|">Primera</a>
			</li>
		
		
			<li class="page-item" th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}">
				<span class="page-link" th:if="${not page.hasPrevious}">«</span>
				<a class="page-link" th:if="${page.hasPrevious}" href="#"  th:attr="onclick=|enviar_paginador_prueba('${page.url}','${page.paginaActual-1}')|">&laquo;</a>
			</li>
		
			<li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual? 'page-item active': 'page-item'}">
				<span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
				<a class="page-link" th:if="${not item.actual}"  href="#" th:attr="onclick=|enviar_paginador_prueba('${page.url}','${item.numero}')|" th:text="${item.numero}" ></a>
			</li>
		
		
			<li class="page-item" th:class="${not page.hasNext? 'page-item disabled': 'page-item'}">
				<span class="page-link" th:if="${not page.hasNext}">»</span>
				<a class="page-link" th:if="${page.hasNext}" href="#" th:attr="onclick=|enviar_paginador_prueba('${page.url}','${page.paginaActual+1}')|">&raquo;</a>
			</li>
			
			<li class="page-item" th:class="${page.last? 'page-item disabled': 'page-item'}">
				<span class="page-link" th:if="${page.last}">Última</span>
				<a class="page-link" th:if="${not page.last}" href="#"  th:attr="onclick=|enviar_paginador_prueba('${page.url}','${page.totalPaginas}')|">Última</a>
			</li>
		</ul>

		</nav>
		</th:block>
	    <div class="alert alert-warning" role="alert" th:if="${lista.size()}==0" style="border: 2px solid Tomato; background-color:#f8d7da;">
		 <span style="color:#586d82">No hay datos encontrados</span>  
		</div>
		<div th:replace="views/c_error/detalle :: detalle_modal"></div>
		
        </div>
       </div>
     </div>
   </div>

 </div>
 
 
 
  <script type="text/javascript">
 	/*function detalle(x){
	  var url="/admin/compras/detalle/"+x;
	  console.log(url)
	  $("#resultados2").load(url,function(){
		  $("#detalle_compra").modal("show");
	  });
  }	*/	

  function detalle(idCita){
	  var id=idCita;
	  var url="/errores/detalle/"+id;
	  var URLactual = window.location;
	  var path=URLactual.pathname;
	  var j=0;
	  var posicion=0;
	  //console.log(URLactual);
	  //console.log(URLactual.pathname);
	  for (var i=0; i < path.length;i++) {
		    //console.log(path.charAt(i))
		    if(path.charAt(i)=="/"){
		    	j=i;
				//console.log(i);
		    }
		}
	  path=path.substr(j+1,path.length);
	  url=url+'?n='+path
	  $("#modal_detalle_errores").load(url,function(){
		  $("#modal_detalle_lista_errores").modal("show");
	  })
  }
  
  
  function enviar_paginador_prueba(x,y){ 
		console.log(x)
		console.log(y)
		var indice=parseInt(y)
		indice=y-1
		$("#resultados").load(x+indice,function(){})
	}
  </script>
</body>
</html>