<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:fragment="head" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${titulo}"></title>

    <!-- Bootstrap -->
    <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Font Awesome -->
    <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <!-- NProgress -->
    <link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">
	
	<style type="text/css">
	.uppercase { text-transform: uppercase; },
	</style>

    <!-- Custom Theme Style -->
    <link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
    
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div  class="col-md-3 left_col" th:fragment="sidebar">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a th:href="@{/calendario/index}" class="site_title"><img alt="" th:src="@{/images/logo_rsh.jpg}" style="height:80%;width:20%"> <span>SIEDE-RSH</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img th:src="@{/images/img.jpg}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <div sec:authorize="!isAuthenticated()"><h2>INVITADO</h2></div>
                <div class="uppercase" sec:authorize="isAuthenticated()"> <h2 sec:authentication="name"></h2></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>MENU</h3>
                <ul class="nav side-menu">
					
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a><i class="fa fa-user"></i>Usuario <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/usuario/crear}">Agregar Usuario</a></li>
                      <li><a th:href="@{/usuario/listar}">Listar Usuario</a></li>
                    </ul>
                  </li>



                  <li><a><i class="fa fa-desktop"></i>Consulta de error<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/errores/listar}">Por Establecimiento</a></li>
                      <li><a th:href="@{/errores/errorXuser}">Por Personal que registra</a></li>
                      <li><a th:href="@{/errores/errorXpersonal}">Por Personal que atiende </a></li>
                       <li><a th:href="@{/errores/errorXpaciente}">Por Paciente</a></li>
                    </ul>
                  </li>
                  
                  <li><a><i class="fa fa-bar-chart"></i>Reporte <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/general}">Reporte general</a></li>
                      <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/avance/microred}" >Reporte de avances general</a></li>
                      <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/avance/detalleRedes}" >Reporte de avances detallado</a></li>
                      
                      
                    </ul>
                  </li>
                  
 
			 	  <li sec:authorize="hasRole('ROLE_ADMIN')" ><a><i class="fa fa-list-alt"></i>Modulo maestro<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/maestro/eqhali}">Maestro Eqhali</a></li>
                      <li><a th:href="@{/maestro/error}">Maestro Error</a></li>
                      <li><a th:href="@{/maestro/estrategia}">Maestro Estrategia Sanitaria</a></li>
                    </ul>
                  </li>
                 
                  
                  <li><a th:href="@{/calendario/index}"><i class="fa fa-calendar"></i> Calendario </a></li>
                
                </ul>
              </div>
              

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <!-- <a data-toggle="tooltip" data-placement="top" title="Ajuste">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a> -->
              <a onclick="launchFullScreen(document.documentElement);" data-toggle="tooltip" data-placement="top" title="Pantalla completa">
                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
              </a>
              <a onclick="cancelFullScreen();" data-toggle="tooltip" data-placement="top" title="Cerrar Pantalla completa">
                <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
              </a>
              
              <form id="logoutForm" th:action="@{/logout}" method="post">

                <a  data-toggle="tooltip" data-placement="top" title="Cerrar Sesion" onclick="document.getElementById('logoutForm').submit();" type="submit" > <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
               </form>
            <script type="text/javascript">
            function launchFullScreen(element) {
            	  if(element.requestFullScreen) {
            	    element.requestFullScreen();
            	  } else if(element.mozRequestFullScreen) {
            	    element.mozRequestFullScreen();
            	  } else if(element.webkitRequestFullScreen) {
            	    element.webkitRequestFullScreen();
            	  }
            	}
            	// Lanza en pantalla completa en navegadores que lo soporten
            	 function cancelFullScreen() {
            	     if(document.cancelFullScreen) {
            	         document.cancelFullScreen();
            	     } else if(document.mozCancelFullScreen) {
            	         document.mozCancelFullScreen();
            	     } else if(document.webkitCancelFullScreen) {
            	         document.webkitCancelFullScreen();
            	     }
            	 }
            	</script>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav" th:fragment="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
               <li sec:authorize="!isAuthenticated()" ><a th:href="@{/login/}" title="My Account" > <i class="fa fa-user"></i><span>My cuenta</span> <span class="caret"></span></a>
	            </li>
                <li sec:authorize="isAuthenticated()" class="dropdown show">
                  <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/images/img.jpg}" alt=""><span class="uppercase" sec:authentication="name"></span>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                   <!--
                    <li>
                      <a href="javascript:;">
                        <span>Ajustes</span>
                      </a>
                    </li>-->
                    <li>
                     <form id="logoutForm" th:action="@{/logout}" method="post">

                    <a  style="background-color:#ffffff" onclick="document.getElementById('logoutForm').submit();" type="submit" id="sombrear" class="fa fa-sign-out pull-right"> Cerrar sesion 
					</a>
                    </form>
                    <!--  
                    <form id="logoutForm" th:action="@{/logout}" method="post">
								<a href="javascript:;" onclick="document.getElementById('logoutForm').submit();" type="submit"><i class="fa fa-sign-out pull-right"></i>Cerrar sesion</a>
								<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
							<!--</form>
                    <!-- <a href="login.html"><i class="fa fa-sign-out pull-right"></i>Cerrar sesion</a> -->

                    </li>
                  </ul>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- footer content -->
        <footer th:fragment="footer">
          <div class="pull-right">
            Creditos: <a th:href="@{/creditos}">Unidad de Estadistica e Informatica</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
	<div th:fragment="script">
	    <!-- jQuery -->
	    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
	    <!-- Bootstrap -->
	    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
	    <!-- FastClick -->
	    <script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
	    <!-- NProgress -->
	    <script th:src="@{/vendors/nprogress/nprogress.js}"></script>
	    <script th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
	    
	    <script type="text/javascript">
          $("#sombrear").mouseenter(function() {
          	$("#sombrear").css("background-color", "#cfcbcb");
          }); 
          $("#sombrear").mouseleave(function(){
        	  $("#sombrear").css("background-color", "#ffffff");
   		  });
          </script>
	    <!-- Custom Theme Scripts -->
	    <script th:src="@{/build/js/custom.min.js}"></script>
    </div>
  </body>
</html>
