<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <!-- Meta, title, CSS, favicons, etc. -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Login - HIS</title>

   <!-- Bootstrap -->
   <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
   <!-- Font Awesome -->
   <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
   <!-- NProgress -->
   <link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">
   <!-- Animate.css -->
   <link th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet">

   <!-- Custom Theme Style -->
   <link th:href="@{/build/css/custom.min.css}" rel="stylesheet">
 </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
           <img alt="" th:src="@{/images/logo_rsh.jpg}" style="height:50%;width:50%">
            <form th:action="@{/login}" method="post">
              <h1>SIEDE - Login </h1>
              <div>
                <input type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario" required />
              </div>
              <div>
                <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required/>
              </div>
	              <div class="mid_center">
	                <button class="btn btn-default" type="submit" >ENVIAR</button>
	               
	              </div>


              <div class="clearfix">
                <div id="mensaje" class="alert alert-success" role="alert" th:if="${success != null}"
						th:text="${success}"></div>
				<div  id="mensaje2"  class="alert alert-danger" th:if="${error != null}"
						th:text="${error}"></div>
				<div id="mensaje4" class="alert alert-warning"th:if="${info != null}"
						th:text="${info}"></div>	
              </div>

              <div class="separator">

                <div class="clearfix"></div>
                <br />

                <!--  <div>
                  <h1><i class="fa fa-paw"></i></h1>
                </div> -->
              </div>
            </form>
          </section>
        </div>
	</div>
    </div>
  </body>
</html>
