<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
<div th:fragment="fragment_establecimiento_personal">
	<div class="row" id="avance_personal">
	 <div id="myTabContent2" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="terminaron" aria-labelledby="home-tab">
          <th:block th:each="i,index:${terminaron}">
				<div class="col-md-3 col-sm-3 col-xs-12 widget_tally_box">
                 <div class="x_panel ui-ribbon-container fixed_height_590">
                   <div class="x_content">
					<p><strong> PERSONAL DE SALUD</strong> </p>	
                     <div class="flex">
                       <ul class="list-inline widget_profile_box">
                         <li><span><h3 th:text="${i.campo1}"></h3></span></li>   
                         <li>
                           <img th:src="@{/images/user.png}" alt="..." class="img-circle profile_img">
                         </li>
                         
                       </ul>
                     </div>

                     <h4 class="name" th:text="${i.campo3}+', '">Musimbi</h4>
					 <h4 class="name" th:text="${i.campo2}">Musimbi</h4>

 
                     <div class="divider"></div>

                     <!-- <p>PERSONAL DE SALUD</p> --> 
                    
					<div>
                      <ul class="list-inline widget_tally">
                        <li>
                          <p>
                            <span class="month" >Fichas corregidas</span>
                            <span class="count" th:text="${i.campo5}">+12%</span>
                          </p>
                        </li>
                        <li>
                          <p>
                            <span class="month">Fichas restantes</span>
                            <span class="count" th:text="${i.campo4}">+12%</span>
                          </p>
                        </li>
                        <li>
                          <p>
                            <span class="month">Total </span>
                            <span class="count" th:text="${i.campo4}+${i.campo5}">+12%</span>
                          </p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="x_content">

                    <div style="text-align: center; margin-bottom: 17px">
				  <span th:id="'grafico_terminaron_'+${index.index}" class="chart" data-percent="100">
                     <span class="percent"></span>
                     <canvas  height="110" width="110"></canvas>
                  </span>
                </div>

               
              </div>
              </div>
            </div>
          </div>
         </th:block>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="avanzaron" aria-labelledby="profile-tab">
          <th:block th:each="i,index:${avancePersonal}">
				<div class="col-md-3 col-sm-3 col-xs-12 widget_tally_box">
                 <div class="x_panel ui-ribbon-container fixed_height_590">
                   <div class="x_content">
					<p><strong> PERSONAL DE SALUD</strong> </p>	
                     <div class="flex">
                       <ul class="list-inline widget_profile_box">
                         <li><span><h3 th:text="${i.campo1}"></h3></span></li>   
                         <li>
                           <img th:src="@{/images/user.png}" alt="..." class="img-circle profile_img">
                         </li>
                         
                       </ul>
                     </div>

                     <h4 class="name" th:text="${i.campo3}+', '">Musimbi</h4>
					 <h4 class="name" th:text="${i.campo2}">Musimbi</h4>

 
                     <div class="divider"></div>

                     <!-- <p>PERSONAL DE SALUD</p> --> 
                    
					<div>
                      <ul class="list-inline widget_tally">
                        <li>
                          <p>
                            <span class="month" >Fichas corregidas</span>
                            <span class="count" th:text="${i.campo4}">+12%</span>
                          </p>
                        </li>
                        <li>
                          <p>
                            <span class="month">Fichas restantes</span>
                            <span class="count" th:text="${i.campo5}">+12%</span>
                          </p>
                        </li>
                        <li>
                          <p>
                            <span class="month">Total </span>
                            <span class="count" th:text="${i.campo4}+${i.campo5}">+12%</span>
                          </p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="x_content">

                    <div style="text-align: center; margin-bottom: 17px">
                  <span th:id="'grafico_avance_'+${index.index}" class="chart" data-percent="0">
                     <span class="percent"></span>
                     <canvas  height="110" width="110"></canvas>
                  </span>
                </div>

               
              </div>
              </div>
            </div>
          </div>
         </th:block>
         
        </div>
        <div role="tabpanel" class="tab-pane fade" id="noavanzaron" aria-labelledby="profile-tab">
          <th:block th:each="i,index:${noAvancePersonal}">
				<div class="col-md-3 col-sm-3 col-xs-12 widget_tally_box">
                 <div class="x_panel ui-ribbon-container fixed_height_590">
                   <div class="x_content">
					<p><strong> PERSONAL DE SALUD</strong> </p>	
                     <div class="flex">
                       <ul class="list-inline widget_profile_box">
                         <li><span><h3 th:text="${i.campo1}"></h3></span></li>   
                         <li>
                           <img th:src="@{/images/user.png}" alt="..." class="img-circle profile_img">
                         </li>
                         
                       </ul>
                     </div>

                     <h4 class="name" th:text="${i.campo3}+', '">Musimbi</h4>
					 <h4 class="name" th:text="${i.campo2}">Musimbi</h4>

 
                     <div class="divider"></div>

                     <!-- <p>PERSONAL DE SALUD</p> --> 
                    
					<div>
                      <ul class="list-inline widget_tally">
                        <li>
                          <p>
                            <span class="month" >Fichas corregidas</span>
                            <span class="count" th:text="${i.campo4}">+12%</span>
                          </p>
                        </li>
                        <li>
                          <p>
                            <span class="month">Fichas restantes</span>
                            <span class="count" th:text="${i.campo5}">+12%</span>
                          </p>
                        </li>
                        <li>
                          <p>
                            <span class="month">Total </span>
                            <span class="count" th:text="${i.campo4}+${i.campo5}">+12%</span>
                          </p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="x_content">

                    <div style="text-align: center; margin-bottom: 17px">
                  <span th:id="'grafico_no_avance_'+${index.index}" class="chart" data-percent="0">
                     <span class="percent"></span>
                     <canvas  height="110" width="110"></canvas>
                  </span>
                </div>

               
              </div>
              </div>
            </div>
          </div>
         </th:block>
    
        </div>
      </div>
	
	
         
    </div>
<script th:inline="javascript">
  	 /*<![CDATA[*/  

	   var lista_general=[[${avancePersonal}]];
	 	var datos_corregidos=[];
	 	var datos_restantes=[];
	 	//console.log(lista_general)
		for (const i in lista_general) {
			//console.log(i)
			var x=lista_general[i]["campo4"];
			datos_corregidos.push(x);
			var y=lista_general[i]["campo5"];
			datos_restantes.push(y);
		}
		console.log(datos_corregidos)
		console.log(datos_restantes)
		console.log("--------------------------funcion 2")
		var i=-1;
		 $('span[id^="grafico_avance_"]').each(function(){
			 i=i+1;
			 //console.log(i+" "+datos_corregidos[i]["value"])
			 var corregido=datos_corregidos[i];
			 var restante=datos_restantes[i];
			 var corregido_convertido= parseInt(corregido);
			 var restante_convertido= parseInt(restante);
			 //console.log("i"+i)
			 //console.log("corregido_convertido:"+corregido_convertido)
			 //console.log("restante_convertido:"+restante_convertido)
			 var porcentaje=(100*corregido_convertido)/(restante_convertido+corregido_convertido)
			// console.log("porcentaje:"+porcentaje)
			/* console.log("corregido:"+corregido)
			 console.log("restante:"+restante)
			 console.log("total:"+restante+corregido)
			 console.log("porcentaje:"+porcentaje)
			 porcentaje=Math.round(porcentaje);*/
			 porcentaje=Math.round(porcentaje);

			 $('#grafico_avance_'+i).attr('data-percent', porcentaje);
		  	 $('#grafico_avance_'+i).easyPieChart({
	

		        barColor: '#26b99a',
		 		trackColor: '#f9f9f9',
		 		scaleColor: '#dfe0e0',
		 		lineWidth: 6,
		 		size: 110,
		 		animate: {
		 			duration: 1000,
		 			enabled: true
		 		},
		         onStep: function(from, to, percent) {
		             $(this.el).find('.percent').text(Math.round(percent)); 
			        // console.log(j++);
		         },

		     });
			 
			 
			 
			 
			 
			 
			 
			// $('#grafico_avance_'+i).attr('data-percent', porcentaje);
			 //console.log("porcentaje:"+porcentaje)
			 //console.log(i)
		 })
		 
		 
		 var i=-1;
		 $('span[id^="grafico_no_avance_"]').each(function(){
			 i=i+1;

			 $('#grafico_no_avance_'+i).attr('data-percent', 0);
		  	 $('#grafico_no_avance_'+i).easyPieChart({
	

		        barColor: '#26b99a',
		 		trackColor: '#f9f9f9',
		 		scaleColor: '#dfe0e0',
		 		lineWidth: 6,
		 		size: 110,
		 		animate: {
		 			duration: 1000,
		 			enabled: true
		 		},
		         onStep: function(from, to, percent) {
		             $(this.el).find('.percent').text(Math.round(percent)); 
			        // console.log(j++);
		         },

		     });
		  })
		  	var i=-1;
			 $('span[id^="grafico_terminaron_"]').each(function(){
				 i=i+1;

				 $('#grafico_terminaron_'+i).attr('data-percent', 100);
			  	 $('#grafico_terminaron_'+i).easyPieChart({
		

			        barColor: '#26b99a',
			 		trackColor: '#f9f9f9',
			 		scaleColor: '#dfe0e0',
			 		lineWidth: 6,
			 		size: 110,
			 		animate: {
			 			duration: 1000,
			 			enabled: true
			 		},
			         onStep: function(from, to, percent) {
			             $(this.el).find('.percent').text(Math.round(percent)); 
				        // console.log(j++);
			         },

			     });
			 
			 
			 
			 
			 
			// $('#grafico_avance_'+i).attr('data-percent', porcentaje);
			 //console.log("porcentaje:"+porcentaje)
			 //console.log(i)
		 })
		 
		 
		 
  	/*]]>*/
	</script>  
	
</div>	

</body>
</html>