<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="views/layout/layout ::head"></head>
<!-- iCheck -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		
			<!-- sidder bar -->
			<div class="col-md-3 left_col" th:replace="views/layout/layout ::sidebar"></div>
			<!-- /sidder bar -->
	
	        <!-- top navigation -->
	        <div class="top_nav" th:replace="views/layout/layout :: top_nav"></div>
	        <!-- /top navigation -->
	
	        <!-- page content -->
	        <div class="right_col" role="main">
	          <div class="">
	          
	          
		        
	            <div class="page-title">
	              <div class="title_left">
	                <h3>Estableicmiento</h3>
	              </div>
	            </div>
				
				<div class="row">
		          <div class="col-md-12">
			          <nav aria-label="breadcrumb">
			            <ol class="breadcrumb pl-0">
			              <li class="breadcrumb-item"><i class="fa fa-home"></i> Reporte</li>
			              <li class="breadcrumb-item"><a th:href="@{/avance/detalleRedes}" >Avance de las redes</a></li>
			              <li class="breadcrumb-item"><a th:href="@{'/avance/detalleMicroredes/'+${red}}" >Avance de las micro redes</a></li>
			              <li class="breadcrumb-item"><a th:href="@{'/avance/detalleMicrored/'+${microred}+'?red='+${red}}" >Avance de los establecimientos</a></li>
			              <li class="breadcrumb-item active" aria-current="page"><span th:text="'Establecimiento: '+${informacionEstablecimiento.campo4}"></span></li>
			            </ol>
			          </nav>
			        </div>
		        </div>
				
				
				 <div class="row">
		              <div class="col-md-12 col-sm-12 col-xs-12">
		                <div class="x_panel">
		                  <div class="x_title">
		                    <h2>Busqueda con parametro</h2><h6>&nbsp&nbsp&nbsp&nbsp Todos los campos con * son obligatorio</h6>
		                   
		                    <div class="clearfix"></div>
		                    <div id="messages"class="alert alert-danger" role="alert" style="display: none">
		                    	<div class="title">
								<h5 id="texto"></h5>
								</div>
							</div>
		                  </div>
		                  <div class="x_content">
		                  	<div class="row">
			                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
			
			                     <div class="col-md-4 col-sm-12 col-xs-12 form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">A&ntildeo*</label>
	                        <div class="col-md-6 col-sm-6 col-xs-6">
	                          <select class="form-control" id="anio">

		                          <option value="2020">2020</option>
	                          </select>
	                        </div>
	                      </div>
	                      
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mes inicial*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="mes">

			                            <option value="1">Enero</option>
			                            <option value="2">Febrero</option>
			                            <option value="3">Marzo</option>
			                            <option value="4">Abril</option>
			                            <option value="5">Mayo</option>
			                            <option value="6">Junio</option>
			                            <option value="7">Julio</option>
			                            <option value="8">Agosto</option>
			                            <option value="9">Setiembre</option>
			                            <option value="10">Octubre</option>
			                            <option value="11">Noviembre</option>
			                            <option value="12">Diciembre</option>
			                          </select>
			                        </div>
			                      </div>
			                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mes final*</label>
			                        <div class="col-md-6 col-sm-6 col-xs-6">
			                          <select class="form-control" id="mesf">
			                            
			                            <option value="1">Enero</option>
			                            <option value="2">Febrero</option>
			                            <option value="3">Marzo</option>
			                            <option value="4">Abril</option>
			                            <option value="5">Mayo</option>
			                            <option value="6">Junio</option>
			                            <option value="7">Julio</option>
			                            <option value="8">Agosto</option>
			                            <option value="9">Setiembre</option>
			                            <option value="10">Octubre</option>
			                            <option value="11">Noviembre</option>
			                            <option value="12">Diciembre</option>
			                          </select>
			                        </div>
			                      </div>

			                      
 
								  <br> <br> <br> 
									<div class="row">	                      
				                      <div class=" form-group">
				                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
				                          <button type="button" class="btn btn-success" onclick="detalle_actualizar_establecimiento()">Actualizar</button>
										  <button class="btn btn-primary" type="reset">Resetear</button>
				                         <!--  <button class="btn btn-primary" type="button" >Cancelar</button> -->
				                        </div>
				                      </div>
									</div>
			                    </form>
			                 </div>
		                  </div>
		                </div>
		              </div>
		            </div>
			
				<div th:replace="views/avance/detalle_establecimiento_actualizar ::fragment_establecimiento"> </div>
				
				
				
				<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-users"></i>Avances del personal</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">
                        <li role="presentation" class="active"><a href="#terminaron" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Personal que terminaron</a>
                        </li>
                        <li role="presentation" class=""><a href="#avanzaron" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false">Personal que avanzaron</a>
                        </li>
                        <li role="presentation" class=""><a href="#noavanzaron" role="tab" id="profile-tabb3" data-toggle="tab" aria-controls="profile" aria-expanded="false">Personal que no avanzaron</a>
                        </li>
                      </ul>
                      
                      <div th:replace="views/avance/detalle_establecimiento_personal :: fragment_establecimiento_personal"> </div>
                      
                    </div>

                  </div>
                </div>
              </div>
				
				
				
				
				
				
				
				
				
				
				
				 
				 
				 
				 
	          </div>
	        </div>
	        <!-- /page content -->
	
	        <!-- footer content -->
	        <footer th:replace="views/layout/layout ::footer"></footer>
	        <!-- /footer content -->
		</div>
	</div>

	<div th:replace="views/layout/layout :: script"></div>
	<script th:src="@{/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js}"></script>
	<script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/ 
		//document.getElementById("mes").value = "1";
		console.log("anio "+[[${anio}]])
		console.log("mesI "+[[${mesI}]])
		document.getElementById("anio").value=[[${anio}]];
		document.getElementById("mes").value=[[${mesI}]];
		document.getElementById("mesf").value=[[${mesF}]];
		//document.getElementById("mesf").value = "12";
	  	/*]]>*/
	</script>
	
	<script th:inline="javascript">
  	 /*<![CDATA[*/  
		
		 
		 
		 var ctx = document.getElementById("rankin").getContext("2d");
      //console.log([[${ListaStringCantidad}]]);
	  theChart= new Chart(ctx, {
		    type: 'bar',
		    data: {
		      labels: [[${ListaStringErrores}]],
		      //datakeys:[[${ListaStringIdPersonal}]],
		      datasets: [
		        {
		          label: "ranking",
		          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
		          data: [[${ListaStringCantidad}]]
		        }
		      ]
		    },
		    options: {
		      legend: { display: false },
		      scales: {
		    	  xAxes: [{
		    	      beginAtZero: true,
		    	      ticks: {
		    	         autoSkip: false,

		    	      }
		    	  }]
		    	},
		      title: {
		        display: true,
		        text: 'ERRORES CORREGIDOS EN EL ESTABLECIMIENTO'
		      }
		    }
		});
	  var lista_general=[[${avancePersonal}]];
	 	var datos_corregidos=[];
	 	var datos_restantes=[];
	 	//console.log(lista_general)
		for (const i in lista_general) {
			//console.log(i)
			var x=lista_general[i]["campo4"];
			datos_corregidos.push(x);
			var y=lista_general[i]["campo5"];
			datos_restantes.push(y);
		}

		var i=-1;
		 $('span[id^="grafico_avance_"]').each(function(){
			 i=i+1;
			 //console.log(i+" "+datos_corregidos[i]["value"])
			 var corregido=datos_corregidos[i];
			 var restante=datos_restantes[i];
			 var corregido_convertido= parseInt(corregido);
			 var restante_convertido= parseInt(restante);
			 //console.log("i"+i)
			 //console.log("corregido_convertido:"+corregido_convertido)
			 //console.log("restante_convertido:"+restante_convertido)
			 var porcentaje=(100*corregido_convertido)/(restante_convertido+corregido_convertido)
			// console.log("porcentaje:"+porcentaje)
			/* console.log("corregido:"+corregido)
			 console.log("restante:"+restante)
			 console.log("total:"+restante+corregido)
			 console.log("porcentaje:"+porcentaje)
			 porcentaje=Math.round(porcentaje);*/
			 porcentaje=Math.round(porcentaje);

			 $('#grafico_avance_'+i).attr('data-percent', porcentaje);
			 //console.log("porcentaje:"+porcentaje)
			 //console.log(i)
		 })
	  
	  function detalle_actualizar_establecimiento(){
			var anio=document.getElementById("anio").value;
			var mes_s=document.getElementById("mes").value;
			var mesf_s=document.getElementById("mesf").value;
			console.log(anio+" "+mes+" "+mesf)
			
			mes=parseInt(mes_s);
			mesf=parseInt(mesf_s);
			//console.log(mes>mesf)
			if(anio==0){
				alert("Agregue el año")
				return false;
			}
			if(mes==0){
				alert("Agregue el mes inicial")
				return false;
			}
			
			
			if(mes>mesf){
				alert("el mes inicial no puede superar al mes final")
				return false;
			}
			
			var URLactual = window.location;
			var path=URLactual.pathname;
			var j=0;
			var posicion=0;
			console.log(path)
			for (var i=0; i < path.length;i++) {
			    //console.log(path.charAt(i))
			    if(path.charAt(i)=="/"){
			    	j=i;
					//console.log(i);
			    }
			}
			
			path=path.substr(j+1,path.length);
					

			
			var url ="/avance/detalleGraficoEstablecimientoPersonal/"+path+"/"
			url=url+"?anio="+anio+"&mes="+mes+"&fmes="+mesf
			$("#avance_personal").load(url,function(){})
			
			var url ="/avance/detalleGraficoEstablecimiento/"+path+"/"
			url=url+"?anio="+anio+"&mes="+mes+"&fmes="+mesf
			$("#fragment_grafico_establecimiento").load(url,function(){})
		}
	  
	  
	  
	 
  	/*]]>*/
	</script>  

</body>
</html>