<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
<div th:fragment="fragment_establecimiento">
	<div class="row"  id="fragment_grafico_establecimiento">
		<div class="col-md-12">
		   <div class="x_panel">
		     <div class="x_title">
		       <h2>Avances de correciones de errores del Establecimiento &nbsp</h2>
		       
		       <div class="clearfix"></div>
		     </div>
		
		     <div class="x_content">
		
		       <div class="col-md-9 col-sm-9 col-xs-12">
		
		         <ul class="stats-overview">
		           <li>
		             <span class="name"> Errores corregidos  </span>
		             <span class="value text-success" th:text="${cantidadCorregidaEstablecimiento}"> 0 </span>
		           </li>
		           <li>
		             <span class="name"> Errores restantes </span>
		             <span class="value text-success" th:text="${cantidadRestanteEstablecimiento}"> 0 </span>
		           </li>
		           <li class="hidden-phone">
		             <span class="name"> Total </span>
		             <span class="value text-success" th:text="${cantidadCorregidaEstablecimiento}+${cantidadRestanteEstablecimiento}"> 0 </span>
		           </li>
		         </ul>
		         <br />
		
		         <div class="x_content">
		           <canvas id="rankin"></canvas>
		
		      </div>
		         
		
		
		       </div>
		
		       <!-- start project-detail sidebar -->
		             <div class="col-md-3 col-sm-3 col-xs-12">
		
		               <section class="panel">
		
		                 <div class="x_title">
		                   <h2 th:text="'Establecimiento: '+${informacionEstablecimiento.campo4}"> sdfsf</h2> 
		                   <div class="clearfix"></div>
		                 </div>
		                 <div class="panel-body">
		                 
		                   <p>Los datos que se muestran son los errores corregidos por el Establecimiento.</p>
		                   <p>Del periodo <strong><span th:text="${periodo}"> </span></strong> </p>
		                   
		                   <div class="project_detail">
							<h2><strong> Datos del establecimiento</strong></h2>
							<p class="title">Red Perteneciente</p>
							<p th:text="${informacionEstablecimiento.campo2}">Deveint Inc</p>
							<p class="title">Micro - red Perteneciente</p>
							<p th:text="${informacionEstablecimiento.campo3}">Deveint Inc</p>
		                     <p class="title">Sector Perteneciente</p>
		                     <p th:text="${informacionEstablecimiento.campo5}">Deveint Inc</p>
							<p class="title">Departamento</p>
		                     <p th:text="${informacionEstablecimiento.campo6}">Deveint Inc</p>
		                     <p class="title">Provincia</p>
		                     <p th:text="${informacionEstablecimiento.campo7}">Deveint Inc</p>
		                     <p class="title">Distrito</p>
		                     <p th:text="${informacionEstablecimiento.campo8}">Deveint Inc</p>
		                   </div>
		
		                   <br />
		                   <!--  
		             <h5>Project files</h5>
		             <ul class="list-unstyled project_files">
		               <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
		               </li>
		               <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
		               </li>
		               <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
		               </li>
		               <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
		               </li>
		               <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
		               </li>
		             </ul>
		             <br />
		
		             <div class="text-center mtop20">
		               <a href="#" class="btn btn-sm btn-primary">Add files</a>
		               <a href="#" class="btn btn-sm btn-warning">Report contact</a>
		             </div> -->
		           </div>
		
		         </section>
		
		       </div>
		       <!-- end project-detail sidebar -->
		
				</div>
		         </div>
		       </div>
	</div>
</div>
<script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>  
<script th:inline="javascript">
  	 /*<![CDATA[*/  

		 
		 var ctx = document.getElementById("rankin").getContext("2d");
      //console.log([[${ListaStringCantidad}]]);
	  theChart= new Chart(ctx, {
		    type: 'bar',
		    data: {
		      labels: [[${ListaStringErrores}]],
		      //datakeys:[[${ListaStringIdPersonal}]],
		      datasets: [
		        {
		          label: "ranking",
		          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
		          data: [[${ListaStringCantidad}]]
		        }
		      ]
		    },
		    options: {
		      legend: { display: false },
		      scales: {
		    	  xAxes: [{
		    	      beginAtZero: true,
		    	      ticks: {
		    	         autoSkip: false,

		    	      }
		    	  }],
		      yAxes: [{
		    	  
                  ticks: {
                	  beginAtZero: true,
                      steps: 10,
                      stepValue: 10
                     
                      }
              		}]
		    	},
		 
		     
		      title: {
		        display: true,
		        text: 'ERRORES CORREGIDOS EN EL ESTABLECIMIENTO'
		      }
		    }
		});
	  
  	/*]]>*/
	</script>

</body>
</html>