<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
<div th:fragment="tabla_no_avance_microred">
<br> 
<div class="x_title">
 <h2>Micro redes que no avanzan las correciones de errores</h2>
     <br> 
    <div class="clearfix"></div>
 </div>
<table class="table table-striped projects"  id="tabla_no_avance_microred_actualizar">
<thead>
  <tr>
    <th style="width: 10%">N#</th><!-- 5 -->
    <th  style="display:none;"></th>
    <th style="width: 30%">Micro red</th>
    <th style="width: 25%">Avance de correcion de errores</th><!-- 20 -->
    <th style="width: 20%">Estado</th><!-- 15 -->
    <!-- <th style="width: 15%">Opciones</th> -->
  </tr>
</thead>
<tbody>
	<th:block th:each="i,index:${no_avance}">
  <tr>
    <td th:text="${index.index+1}">#</td>
    <td style="display:none;"> <input th:value="${i.campo1}"  /></td>
      <td>
        <p th:text="${i.campo2}">Pesamakini Backend UI</p>

      </td>
      <td class="project_progress">
        <div class="progress progress_sm">
          <div  class="progress-bar bg-red" role="progressbar" ></div>
        </div>
         <small>0<span th:text="' de '+${i.campo4}"> </span><span > (0%)</span></small>
      </td>
      <td>

        <span  class="label label-danger">Ni un Avance</span>
      </td>
       
        <!--  <td>
        <a th:href="@{'/avance/detalleMicrored/'+${i.campo1}}" class="btn btn-info btn-xs"><i class="fa fa-plus"></i> Más detalle </a>                            
      </td> -->
    </tr>
  	</th:block>
  </tbody>
</table>
</div>
</body>
</html>