<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
<div th:fragment="tabla_avance_microred" id="tabla_avance_microred_actualizar">

<table class="table table-striped projects"  >
<thead>
  <tr>
    <th style="width: 10%">N#</th><!-- 5 -->
    <th  style="display:none;"></th>
    <th style="width: 30%">Micro red</th>
    <th style="width: 25%">Avance de correción de errores</th><!-- 20 -->
    <th style="width: 20%">Estado</th><!-- 15 -->
    <!-- <th style="width: 15%">Opciones</th> -->
  </tr>
</thead>
<tbody>
	<th:block th:each="i,index:${avance}">
  <tr>
    <td th:text="${index.index+1}">#</td>
    <td style="display:none;"> <input th:value="${i.campo1}" th:id="'cantidad_'+${index.index}"  /></td>
      <td>
        <p th:text="${i.campo3}">Pesamakini Backend UI</p>

      </td>
      <td class="project_progress">
        <div class="progress progress_sm">
          <div th:id="'row_'+${index.index}" class="progress-bar bg-orange" role="progressbar" ></div>
        </div>
        <small><span th:id="'span_'+${index.index}">0</span></small>
      </td>
      <td>

        <span th:id="'estado_'+${index.index}" class="label label-warning">Incompleto</span>
      </td>
       
      <!--  <td>
        <a th:href="@{'/avance/detalleMicrored/'+${i.campo2}}" class="btn btn-info btn-xs"><i class="fa fa-plus"></i> Más detalle </a>                            
      </td> -->
    </tr>
  	</th:block>
  </tbody>
</table>

<div th:replace="views/avance/no_avance_microred :: tabla_no_avance_microred"></div>
</div>

<script th:inline="javascript">
  	 /*<![CDATA[*/
  		var i=-1;
  		var total_microred = [[${total_microred}]];
  		//console.log(total_microred[0][0])
  		
  		 $('input[id^="cantidad_"]').each(function(){
  			i=i+1;
			 var input_id=$(this).val();
			 
			 var x=(input_id*100)/total_microred[i][0];
			  x=Math.round(x);
			  
			  //var valor=
			  $('#row_'+i+'').css('width', x+"%").attr('aria-valuenow', x);
			  //valor.width(x);
			  
			  var procentaje=(input_id*100)/total_microred[i][0];
			  console.log(input_id)
			  console.log(total_microred[i][0])
			  procentaje=  procentaje.toFixed(2);
			 $('#span_'+i+'').html(input_id+"  de "+" "+total_microred[i][0]+" "+'('+procentaje+"%"+')');
			 if(procentaje==100){
				 $('#row_'+i+'').removeClass("progress-bar bg-orange");
				 $('#row_'+i+'').addClass("progress-bar bg-green");
				 $('#estado_'+i+'').removeClass("label label-warning");
				 $('#estado_'+i+'').addClass("label label-success");
				 $('#estado_'+i+'').html("Completo");
			 }
  		 })
  		 
  		 
  	 	
  		 /*]]>*/
	</script> 
</body>
</html>